body {
    background: url("../images/groovepaper.png");
}

@media screen {
    body {
        padding-top: 41px;
    }
}

/* override Bootstrap "display urls in print" behavior */

@media print {
    a[href]:after {
        content: none !important;
    }
}

h1 {
  text-align: center;
  margin: 15px 0 15px 0;
}

h2 {
  text-align: center;
}

/* navbar */

.feather {
    background: url("../images/feather_40.png") no-repeat left top;
    padding-left: 20px;
}

.navbar .site-nav {
    padding: 0;
}

/* push lightbox away from the navbar */

.lum-lightbox {
  margin-top: 40px;
}


/* header & footer */

.header {
    border-bottom: 1px solid #BBB;
    background: url("../images/paper.png");
    margin: 0 0 20px 0;
}

.header h1, .header h2 {
    font-weight: bold;
    text-align: left;
}

.footer {
    padding: 20px 0 20px 0;
    border-top: 1px solid #BBB;
    background: url("../images/paper.png");
}

.pzt-footer-content {
    text-align: center;
    font-weight: bold;
}

/* margin tools */

.remove-top-margin {
    margin-top: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.underline {
    border-bottom: 1px solid #BBB;
}

.pzt-max-width {
    width: 100%;
}

/* tables */

.vtop td {
    vertical-align: top;
}

.cleantable {
    padding: 0;
    margin: 0;
}


/* sections */

.section {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.section hr {
    margin-top: 20px;
    margin-bottom: 5px;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
    text-align: left;
}

.section h1 {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #990000;
}

.section .table th, .section .table td {
    border-top: none;
}

.section .content h2 small {
    font-size: 14px;
}

.article-body {
    margin-top: 10px;
}

.annotation-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* about.html */

.badgelist li {
    text-align: center;
    padding: 10px;
}


h1.contributor {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: inherit;
    text-align: center;
}

/* blockquoute */

.lead-quote {
    padding-top: 20px;
}

/* forms */

.formset th, .formset td {
    text-align: center;
}

.formset select {
    width: 100%;
}

.formtable input[type=text], .formtable input[type=url], .formtable input[type=number], .formtable input[type=password] {
    width: 100%;
}

/* artist */

.lifetime {
  text-align: center;
}

/* frontpage */

.pzt-social-button {
  margin: 5px;
}

/* other */

.tip {
    color: #428bca !important;
    margin-left: 10px;
}

/* ... */
