*.pyc
*.swp
*.swo
*.log
*~
settings_production.py
settings_local.py
private_*
proxy_manage_py.sh
cloud_sql_proxy
piosenka.db
site_media
static
node_modules
.idea
.vimrc
.environment
.virtualenv
.vscode
