Django==4.2.17
Markdown==3.2.2
bleach==5.0.1
easy-thumbnails==2.8.5
Unidecode==0.04.17
# pytz==2016.4
google-api-python-client==2.70.0
django-compressor==4.4
google-cloud-logging==3.3.1
django-storages==1.14
google-cloud-storage==2.7.0
mailjet_rest==1.3.3
django-anymail==9.2
psycopg2==2.9.5
# server-only from here below
#google-python-cloud-debugger==3.1