Django==4.2.22
Markdown==3.2.2
bleach==5.0.1
easy-thumbnails==2.8.5
Unidecode==0.04.17
django-compressor==4.4
django-storages==1.14
google-cloud-storage==2.7.0
pyyaml>=6.0.2
bs4>=0.0.2
markdown2>=2.5.3
