{% load l10n %}

<script>
//<![CDATA[
var map_location;

function savePosition_location(point)
{
  var input = document.getElementById("id_location");
  input.value = point.lat().toFixed(6) + "," + point.lng().toFixed(6);
  map_location.panTo(point);
}

function load_location() {
  var point = new google.maps.LatLng({{map_center_lat|unlocalize }}, {{map_center_lng|unlocalize }});

  var options = {
      zoom: {{map_zoom}},
      center: point,
      mapTypeId: google.maps.MapTypeId.ROADMAP
        // mapTypeControl: true,
        // navigationControl: true
  };

  map_location = new google.maps.Map(document.getElementById("map_location"), options);

  {% if mark %}
    var marker = new google.maps.Marker({
      map: map_location,
      position: new google.maps.LatLng({{mark.lat|unlocalize}}, {{mark.lon|unlocalize}}),
      draggable: false,
      url: '{{mark.get_absolute_url}}',
      title: '{{mark}}'
      });
  {% endif %}

  {% for element in marks %}
    {% if element.lat and element.lon %}
    var marker_{{forloop.counter}} = new google.maps.Marker({
      map: map_location,
      position: new google.maps.LatLng({{element.lat|unlocalize}}, {{element.lon|unlocalize}}),
      draggable: false,
      url: '{{element.get_absolute_url}}',
      title: '{{element}}'
    });

    google.maps.event.addListener(marker_{{forloop.counter}}, 'click', function() {
      window.location.href = marker_{{forloop.counter}}.url;
    });
    {% endif %}
  {% endfor %}
}

//]]>
</script>
<div id="map_location" style="max-width: 100%; height: {{map_height}}px"></div>
