{% load thumbnail %}

<div class="section">
  <h1 id="{{ note.get_id }}">{{ note.title }}
    {% include "components/content_status_span.html" with item=note %}
  </h1>
  {% if note.image %}
  {% include "components/thumbnail.html" with img=note.image type="imagethumb" alt="Ilustracja notki" %}
  {% endif %}
  {{ note.text_html|safe }}
  {% if note.url1 or note.url2 or note.ref1 or note.ref2 or note.image_author or note.image_url %}
  <ul class="list-unstyled" style="font-size: small;">
    <li><b>źródła:</b></li>
    {% if note.url1 %}<li><span class="glyphicon glyphicon-link"></span> {% include "components/external_link.html" with url=note.url1 %}</li>{% endif %}
    {% if note.url2 %}<li><span class="glyphicon glyphicon-link"></span> {% include "components/external_link.html" with url=note.url2 %}</a></li>{% endif %}
    {% if note.ref1 %}<li><span class="glyphicon glyphicon-book"></span> {{ note.ref1 }}</li>{% endif %}
    {% if note.ref2 %}<li><span class="glyphicon glyphicon-book"></span> {{ note.ref2 }}</li>{% endif %}
    {% if note.image_author or note.image_url %}
    <li>
      <span class="glyphicon glyphicon-camera"></span>
      {% if note.image_author %} {{note.image_author}}{% endif %}{% if note.image_author and note.image_url %}, {% endif %}
      {% if note.image_url %} 
      {% include "components/external_link.html" with url=note.image_url %}
      {% endif %}
    </li>
    {% endif %}
  </ul>
  {% endif %}
  {% include "components/content_foot.html" with action="Dodane" item=note %}
</div>
