.comment .content {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
}

.comment .attribution {
    text-align: center;
    font-size: x-small;
}

.comment {
    margin-bottom: 10px;
    word-wrap: break-word;
}
