/* thumbnails and lightbox */

.pzt-thumbnail {
  text-align: center;
}

.pzt-thumbnail img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto 10px auto;
}

.thumbnail-host {
    position: relative;
}

.thumbnail-caption {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    /* conflicts with .section h1 color which is red */
    color: white !important;
    background: rgba(0,0,0,0.75);
}

.thumbnail-caption p, .thumbnail-caption h1 {
    color: white;
    margin: 0;
    padding: 5px;
}
