body {
    background: url("../images/patterns/groovepaper.png");
}

@media screen {
    body {
        padding-top: 41px;
    }
}

/* override Bootstrap "display urls in print" behavior */

@media print {
    a[href]:after {
        content: none !important;
    }
}

/* navbar */

.feather {
    background: url("../images/feather_40.png") no-repeat left top;
    padding-left: 20px;
}

.navbar .site-nav {
    padding: 0;
}


/* header & footer */

.header {
    border-bottom: 1px solid #BBB;
    background: url("../images/patterns/paper.png");
}

.header h1, .header h2 {
    font-weight: bold;
}

.header+.container {
    margin-top: 20px;
}

.footer {
    padding: 20px 0 20px 0;
    border-top: 1px solid #BBB;
    background: url("../images/patterns/paper.png");
}

/* margin tools */

.remove-top-margin {
    margin-top: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.underline {
    border-bottom: 1px solid #BBB;
}

/* tables */

.vtop td {
    vertical-align: top;
}

.cleantable {
    padding: 0;
    margin: 0;
}


/* wells */

.customwell {
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.customwell hr {
    margin-top: 20px;
    margin-bottom: 5px;
}

.contentwell h1 {
    font-size: 22px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contentwell h2 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contentwell h2 small {
    font-size: 14px;
}

.auxwell h1, .editwell h1 {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #990000;
}

.editwell h2 {
    font-size: 16px;
}

.auxwell .table th, .auxwell .table td {
    border-top: none;
}

/* thumbnails */

.thumbnail-host {
    position: relative;
}

.thumbnail-caption {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,0.75);
}

.thumbnail-caption p, .thumbnail-caption h1 {
    color: white;
    margin: 0;
    padding: 5px;
}

.article-body {
    margin-top: 10px;
}

/* about.html */

.badgelist li {
    text-align: center;
    padding: 10px;
}

/* blockquoute */

.lead-quote {
    padding-top: 20px;
}

/* carousel */

#front-carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
}

#front-carousel .carousel-caption {
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
}

#front-carousel .carousel-caption {
    text-align: left;
    padding: 5px 20px 25px 20px;
}

#front-carousel {
    margin-bottom: 20px;
}

/* forms */

.formset th, .formset td {
    text-align: center;
}

.formset select {
    width: 100%;
}

.formtable input[type=text], .formtable input[type=url], .formtable input[type=number] {
    width: 100%;
}

/* other */

.date {
    background: url("../images/date.gif") left no-repeat;
    padding: 0 0 0 15px;
}

.tip {
    color: #428bca !important;
    margin-left: 10px;
}

/* ... */
