body 
{
	padding-top: 41px;
	padding-bottom: 40px;
	background: url("/site_media/native/images/patterns/groovepaper.png");
}

.print /* navbar is not shown in print versions */
{
	padding-top: 0;
	padding-bottom: 0;
}


/* navbar */

.feather
{
	background: url("/site_media/native/images/feather_40.png") no-repeat left top;
	padding-left: 20px;
}


/* header & footer */

.header
{
	border-bottom: 1px solid #BBB;
	background: url("/site_media/native/images/patterns/paper.png");
}

.header+.container
{
	margin-top: 20px;
}

.footer
{
	padding: 20px 0 20px 0;
	border-top: 1px solid #BBB;
	background: url("/site_media/native/images/patterns/paper.png");
}

/* margin tools */

.remove-top-margin
{
	margin-top: 0;
}

.remove-bottom-margin
{
	margin-bottom: 0;
}

.underline
{
	border-bottom: 1px solid #BBB;
}

/* tables */

.vtop td
{
	vertical-align: top;
}

.cleantable
{
	padding: 0;
	margin: 0;
}


/* wells */

.customwell
{
	min-height: 20px;
	padding: 9px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.contentwell h1
{
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 20px;
}

.contentwell h2
{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
}

.contentwell h2 small
{
	font-size: 14px;
}

.auxwell h1
{
	margin-top: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #990000;
}

/* printing */

.print .not-for-print
{
	display: none;
}

.only-for-print
{
	display: none;
}

.print .only-for-print
{
	display: block
}


/* songbook menu */

.thumbnails .selected
{
	background-color: #0088cc;
}

.thumbnails .selected a
{
	color: white;
}

/* lyrics rendering */

.indented {
	padding-left:10px;
}

/* chords toggling */

.extra-chords-trigger {
    cursor: pointer;
    color: #215679;
    font-size: 9pt;    
}

.extra-chords {
    display: none;
}

/* customize blockquoute */

.lead-quote
{
	padding-top: 20px;
}

.custom-blockquote {
  padding: 0 0 0 10px;
  margin: 0 0 20px 5px;
  border-left: 3px solid #0088cc;
}

.print .custom-blockquote{
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

/* other */

.date {
	background: url("/site_media/native/images/date.gif") left no-repeat;
	padding: 0 0 0 15px;
}

.customwell hr {
	margin-top: 20px;
	margin-bottom: 5px;
}

/* ... */