/* thumbnails and lightbox */

.thumbnail-host {
    position: relative;
}

.thumbnail-caption {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0; 
    color: white;
    background: rgba(0,0,0,0.75);
}

.thumbnail-caption h2 {
    color: white;
    font-size: 14px;
    padding: 5px;
    margin: 0;
}

.pzt-thumbnail img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto 10px auto;
  }

.pzt-article-thumb {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.pzt .thumbnail-caption p, .pzt .thumbnail-caption h1 {
    /* conflicts with .section h1 color which is red */
    color: white !important;
    margin: 0;
    padding: 5px;
}
