/* Song header section containing both the song info and the song gadget,
 * side by side
 */

.song-header {
    break-after: avoid;
    page-break-after: avoid;
}

/* Song info section (authors, capodaster, etc.). */

.song-info p {
    margin: 0;
}

@media print {
  .song-info p {
    display: inline;
  }
}

/* gadget controlling song display (chords, transpo, etc.) */

.song-gadget img {
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

.song-gadget .gadget-row {
    margin-bottom: 2px;
}

/* lyrics rendering */

.indented {
    padding-left: 10px;
}

.chord-section {
    padding-left: 10px;
}

.chords {
    font-weight: bold;
}

.chords-t1, .chords-t2, .chords-t3, .chords-t4, .chords-t5, .chords-t6, .chords-t7, .chords-t8, .chords-t9, .chords-t10, .chords-t11 {
    display: none;
}

.lyrics, .container blockquote {
    padding: 0 0 0 5px;
    margin: 0 0 20px 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid #0088cc;
    font-size: 14px;
}

.lyrics small, .container blockquote small {
    font-size: 85%;
}

.lyrics .paragraph {
    margin-bottom: 16px;
}

@media print {
    .lyrics .paragraph {
        page-break-inside: avoid;
    }
}
