{% extends "blog/base.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for post in new_posts %}
      <div class="section">
        <div class="content">
          <h1>{{ post.title }}
            {% include "components/content_status_span.html" with item=post %}
          </h1>

          {{ post.post_html|safe }}

          {% if post.more_trevor %}
          <p><a href="{{ post.get_absolute_url }}">Czytaj dalej i skomentuj</a>.</p>
          {% else %}
          <p><a href="{{ post.get_absolute_url }}">Komentarze</a>.</p>
          {% endif %}

          {% include "components/content_foot.html" with action="Dodany" item=post %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div class="section">
        <h1>Wszystkie posty</h1>
        <table class="vtop cleantable">
          {% for post in all_posts %}
          <tr>
            <td><small>{{ post.pub_date|date:"d.m.Y" }}</small></td>
            <td>
            {% include "components/content_link.html" with item=post %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
