{% extends "base.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for post in new_posts %}
      <div class="section">
        <div class="content">
          <h2 class="pzt-card-title">{{ post.title }}
          </h2>

          {{ post.lead_html|safe }}

          {% if post.read_more %}
          <p><a href="{{ post.get_absolute_url }}">Czytaj dalej i skomentuj</a>.</p>
          {% else %}
          <p><a href="{{ post.get_absolute_url }}">Komentarze</a>.</p>
          {% endif %}

          {% include "components/content_foot.html" with action="Dodany" item=post %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div class="section">
        <h2 class="pzt-card-title">Wszystkie posty</h2>
        <table class="vtop cleantable">
          {% for post in all_posts %}
          <tr>
            <td class="pzt-postlist-date"><small>{{ post.pub_date|date:"d.m.Y" }}</small></td>
            <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
