{% extends "base.html" %}

{% block title %}{{ post.title }} - Blog{% endblock title %}

{% block hull %}
<div class="padLeft sheet">
		  <h1>{{ post.title }}</h1>

		  <div class="postContent">
		    {{ post.post|safe }}
		    
		    {{ post.more|safe }}
		  </div>
		<br />
		<hr />
		<p>Dodany <span class="date">{{ post.date|date:"d.m.Y" }}</span> przez <b>{{ post.author }}</b> w kategorii {{ post.category }}.

</div>

<div class="padRight widget">
{% include "blog/all_posts_inc.html" %}
</div>

{% endblock hull %}

