{% extends "base-next.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% include "blog/top.html" %}
<div class="container">
  <div class="row">
    <div class="span8">
      {% for post in new_posts %}
      <div class="customwell contentwell">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>

        {{ post.post_html|safe }}

        {% if post.more %}
        <p><a href="{{ post.get_absolute_url }}">Czytaj dalej i skomentuj</a>.</p>
        {% else %}
        <p><a href="{{ post.get_absolute_url }}">Skomentuj</a>.</p>
        {% endif %}

        {% include "base/content_foot.html" with action="Dodany" item=post %}
      </div>
      {% endfor %}
    </div>

    <div class="span4">
      <div class="customwell auxwell">
        <h1>Wszystkie posty</h1>
        <table class="vtop cleantable">
          {% for post in all_posts %}
          <tr>
            <td><small>{{ post.date|date:"d.m.Y" }}</small></td>
            <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
