{% extends "base-next.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}

{% include "blog/top.html" %}
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">Nowe posty</h1>
        {% for post in new_posts %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>{{ post.date|date:"d.m.Y" }}</small></h2>

        {{ post.post|safe }}

        {% if post.more %}
        <p><a href="{{ post.get_absolute_url }}">Czytaj dalej</a>.</p>
        {% endif %}

        {% endfor %}
      </div>
    </div>

    <div class="span4">
      {% include "blog/inc/all_posts.html" %}
    </div>
  </div>
</div>

{% endblock content %}
