{% extends "base-next.html" %}

{% block title %}{{ post.title }} - Blog{% endblock title %}

{% block content %}

{% include "blog/top.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ post.title }}</h1>

        {{ post.post_html|safe }}

        {{ post.more_html|safe }}

        {% include "base/content_foot.html" with action="Dodany" item=post %}
      </div>
    </div>
    <div class="col-md-4">
      {% include "base/wells/like.html" with like_what="post" %}
      {% include "base/wells/manage.html" with item=post manage_what="post" %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>

{% endblock content %}
