{% extends "blog/base.html" %}

{% block title %}{{ post }} - blog{% endblock title %}
{% block description %}Post {{ post }} na blogu Piosenki z tekstem{% endblock description %}

{% block content %}
<div class="container">
  <h1 class="remove-top-margin">{{ post.title }}
    {% include "components/content_status_span.html" with item=post %}
  </h1>
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <div class="content">

          {{ post.post_html|safe }}

          {{ post.more_html|safe }}

          {% include "components/content_foot.html" with action="Dodany" item=post %}
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>

{% endblock content %}
