<div class="header not-for-print">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>Blog</h2>
        <p>Nowości na stronie: nowe materiały i zmiany techniczne.</p>
      </div>
      <div class="span6 lead-quote">
        <blockquote class="custom-blockquote">Co tam widać w perspektywie?
          <small>Jacek Kleyff - <a href="/spiewnik/jacek-kleyff/o-pierwszym-skrzypku-dziad-kaczorowski/">O pierwszym skrzypku</a></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
