{% extends "articles/base.html" %}

{% block title %}{% if article %}Edytuj artykuł: {{ article }}{% else %}Dodaj artykuł{% endif %}{% endblock title %}

{% block extra-scripts %}
<script>
$(document).ready(function(){
    new SirTrevor.Editor({
      el: $('#id_lead_text_trevor'),
      blockTypes: ["Text"],
      blockLimit: 1,
      defaultType: "Text",
    });
    new SirTrevor.Editor({
      el: $('#id_main_text_trevor'),
      blockTypes: ["Text", "Heading", "List", "Quote"],
      defaultType: "Text",
    });
    new SirTrevor.Editor({
      el: $('#id_cover_credits_trevor'),
      blockTypes: ["Text"],
      blockLimit: 1,
    });
});
</script>
{% endblock extra-scripts %}

{% block content %}
<div class="container main">
  <form enctype="multipart/form-data" action="{% if not object or not object.pk %}{% url 'add_article' %}{% else %}{{ object.get_edit_url }}{% endif %}" method="post" novalidate>{% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <h2 class="pzt-card-title">Artykuł</h2>
        <table class="table table-condensed formtable">
          {% include "components/forms/table_field.html" with name="Tytuł" field=form.title %}
        </table>
      </div>
      <div class="section">
        <h2 class="pzt-card-title">Lead (pierwszy akapit)</h2>
        <div class="alert alert-info" role="alert">
          Treść artykułu podzielona jest na dwie części. Pierwszy akapit
          będzie widoczny w menu artykułów.
        </div>
        {{ form.lead_text_trevor }}
      </div>
      <div class="section">
        <h2 class="pzt-card-title">Dalsza treść</h2>
        <div class="alert alert-info" role="alert">
          Poniżej wpisz pozostałą część tekstu.
        </div>
        {{ form.main_text_trevor }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="section">
        <h2 class="pzt-card-title">Zdjęcie</h2>
          <div class="alert alert-info" role="alert">
            Każdy artykuł musi posiadać zdjęcie lub grafikę okładkową.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Plik" field=form.cover_image %}
          </table>
          <div class="alert alert-info" role="alert">
            Poniżej możesz wpisać opcjonalną adnotację o źródle zdjęcia.
          </div>
          {{ form.cover_credits_trevor }}
      </div>
      {% include "components/forms/add.html" with item=object %}
    </div>
  </div>
  </form>
</div>
{% endblock content %}
