{% extends "base.html" %}
{% load compressed %}

{% block title %}{% if article %}Edytuj artykuł: {{ article }}{% else %}Dodaj artykuł{% endif %}{% endblock title %}

{% block extra-css %}
{% compressed_css 'sirtrevor' %}
{% endblock %}

{% block extra-scripts %}
{% compressed_js 'sirtrevor' %}

<script>
$(document).ready(function(){
    new SirTrevor.Editor({
      el: $('#id_lead_text_trevor'),
      blockTypes: ["Text"],
      blockLimit: 1,
      defaultType: "Text",
    });
    new SirTrevor.Editor({
      el: $('#id_main_text_trevor'),
      blockTypes: ["Text", "List"],
      defaultType: "Text",
    });
    new SirTrevor.Editor({
      el: $('#id_cover_credits_trevor'),
      blockTypes: ["Text"],
      blockLimit: 1,
    });
});
</script>
{% endblock extra-scripts %}

{% block content %}
{% include "events/top.html" %}
<div class="container main">
  <form enctype="multipart/form-data" action="{% if not object or not object.pk %}{% url 'add_article' %}{% else %}{{ object.get_edit_url }}{% endif %}" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      <div class="customwell auxwell">
        <h1>Artykuł</h1>
        <table class="table table-condensed formtable">
          {% include "components/forms/table_field.html" with name="Tytuł" field=form.title %}
        </table>
      </div>
      <div class="customwell auxwell">
        <h1>Treść</h1>
        <div class="alert alert-info" role="alert">
          Treść artykułu podzielona jest na dwie części. Pierwszy akapit
          będzie widoczny w menu artykułów.
        </div>
        {{ form.lead_text_trevor }}
        <div class="alert alert-info" role="alert">
          Poniżej wpisz pozostałą część tekstu.
        </div>
        {{ form.main_text_trevor }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="customwell auxwell">
        <h1>Zdjęcie</h1>
          <div class="alert alert-info" role="alert">
            Każdy artykuł musi posiadać zdjęcie lub grafikę okładkową.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Plik" field=form.cover_image %}
          </table>
          <div class="alert alert-info" role="alert">
            Poniżej możesz wpisać opcjonalną adnotację o źródle zdjęcia.
          </div>
          {{ form.cover_credits_trevor }}
      </div>
      <div class="customwell auxwell">
        <h1>Gotowe</h1>
        <input type="submit" value="{% if not object or not object.pk %}Dodaj{% else %}Zapisz{% endif %}" style="width: 100%"/>
      </div>
    </div>
  </div>
  </form>
</div>
{% endblock content %}
