{% extends "base.html" %}

{% load thumbnail %}
{% load admin_urls %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
{% include "articles/top.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ article.title }}</h1>

        <div class="thumbnail-host">
          {% if article.cover_image %}
          <img src="{{article.cover_image|thumbnail_url:'cover'}}" width="100%" class="img-responsive" />
          <div class="thumbnail-caption">
            {{ article.cover_credits_html|safe }}
          </div>
          {% endif %}
        </div>
        <div class="article-body">
          {{ article.lead_text_html|safe }}

          {{ article.main_text_html|safe }}
        </div>

        {% include "base/content_foot.html" with action="Dodany" item=article %}
      </div>
    </div>


    <div class="col-md-4 not-for-print">
      {% include "base/wells/like.html" with like_what="artykuł" %}
      {% include "base/wells/manage.html" with item=article manage_what="artykuł" %}
    </div>

  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
