{% extends "base-next.html" %}

{% load thumbnail %}
{% load admin_urls %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
{% include "articles/top.html" %}

<div class="container">
  <div class="row">
    <div class="span8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ article.title }}</h1>

        <div class="thumbnail-host">
          {% if article.cover_image %}
          {% thumbnail article.cover_image "600x300" crop="center" as im %}
          <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
          {% endthumbnail %}
          {% endif %}
          <div class="thumbnail-caption">
            {{ article.cover_credits|safe }}
          </div>
        </div>
        <div class="article-body">
          {{ article.lead_text_html|safe }}

          {{ article.main_text_html|safe }}
        </div>

        <hr />
        <p class="remove-bottom-margin">Dodany <span class="date">{{ article.date|date:"d.m.Y" }}</span> przez <b>{{ article.author }}</b>.</p>
      </div>
    </div>


    <div class="span4 not-for-print">
      {% include "wells/like.html" with like_what="artykuł" %}
      {% include "wells/manage.html" with item=article manage_what="artykuł" %}
    </div>

    <div class="row">
      <div class="span12">
        {% include "plugins/disqus.html" %}
      </div>
    </div>
  </div>
{% endblock content %}
