{% extends "base.html" %}

{% block header %}
<h2>Artykuły</h2>
<p>Relacje z imprez, recenzje płyt i książek, wywiady, opisy, pytania, odpowiedzi, konkluzje, konstatacje.</p>
{% endblock header %}

{% block quote %}
<blockquote class="custom-blockquote">Niech toną w gorzale wspomnienia<br />
  Z kongresu poetów czasu odnowy<br />
  Mniej będą ważyć w kieszeniach<br />
  Grzeczne z wydawnictw odmowy
  <small>Przemysław Bogusz - <a href="/spiewnik/przemyslaw-bogusz/wspomnienie-o-andrzeju-bursie/">Wspomnienie o Andrzeju Bursie</a></small>
</blockquote>
{% endblock quote %}
