{% extends "base.html" %}

{% load list_partition %}

{% block title %}Artykuły{% endblock %}

{% block content %}
<div class="container">
  {% for row in articles|columns_horizontal:"3" %}
  <div class="row">
    {% for article in row %}
    <div class="col-md-4">
      <div class="section">
        <a href="{{article.get_absolute_url}}">
          <div class="thumbnail-host">
            <img src="{{article.thumb_url}}" class="pzt-article-thumb" />
            <div class="thumbnail-caption">
              <h2>{{article.title}}
              </h2>
            </div>
          </div>
        </a>
        {{ article.lead_html|safe }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
