{% extends "base-next.html" %}

{% load thumbnail %}
{% load dxpartition %}

{% block title %}Artykuły{% endblock %}

{% block content %}

{% include "articles/top.html" %}
<div class="container">
  {% for row in articles|columns_horizontal:"3" %}
  <div class="row">
    {% for article in row %}
    <div class="col-md-4">
      <div class="customwell auxwell">
        <a href="{{article.get_absolute_url}}">
          <div class="thumbnail-host">
            {% if article.cover_image %}
            <img src="{{article.cover_image|thumbnail_url:'coverthumb'}}" width="100%" class="img-responsive" />
            {% else %}
            <img src="http://placekitten.com/420/210" width="100%" class="img-responsive"/>
            {% endif %}
            <div class="thumbnail-caption">
              <h1>{{article.title}}</h1>
            </div>
          </div>
        </a>
        {{ article.lead_text_html|safe }}
        {% include "base/content_foot.html" with action="Dodany" item=article %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
