<div class="header not-for-print">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Artykuły</h2>
        <p>Relacje z imprez, recenzje płyt i książek, wywiady, opisy, pytania, odpowiedzi, konkluzje, konstatacje.</p>
      </div>
      <div class="col-md-6 lead-quote">
        <blockquote class="custom-blockquote">Niech toną w gorzale wspomnienia<br />
          Z kongresu poetów czasu odnowy<br />
          Mniej będą ważyć w kieszeniach<br />
          Grzeczne z wydawnictw odmowy
          <small>Przemysław Bogusz - <a href="/spiewnik/przemyslaw-bogusz/wspomnienie-o-andrzeju-bursie/">Wspomnienie o Andrzeju Bursie</a></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
