<div class="header not-for-print">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Artykuły</h2>
                <p>Relacje z imprez, recenzje płyt i książek, interpretacje piosenek.</p>
            </div>
            <div class="span6 lead-quote">
                <blockquote class="custom-blockquote">Cytat
                  <small>Autor - <a href="/">Piosenka</a></small>
                </blockquote>
            </div>
        </div>
    </div>
</div>
