<!-- Freezdry: hard-coding the most recent article for now. -->
<div class="section">
  <div class="thumbnail-host">
    <a href="/artykuly/inspiracje-plastyczne-jacka-kaczmarskiego-sekcja-zagraniczna/">
      <img src="https://storage.googleapis.com/piosenka-media/media/article_covers/carnival_and_lent.jpg.600x300_q85_crop_upscale.jpg" alt="Ilustracja artykułu Inspiracje plastyczne Jacka Kaczmarskiego – sekcja zagraniczna" class="img-responsive pzt-max-width" />
      <div class="thumbnail-caption">
        <p>Inspiracje plastyczne Jacka Kaczmarskiego – sekcja zagraniczna</p>
        <p>Utwory Jacka Kaczmarskiego inspirowane malarstwem, rysunkiem, grafiką i rzeźbą (ekfrazy). Część druga: sekcja zagraniczna.</p>
      </div>
    </a>
  </div>
</div>
