{% extends "base-next.html" %}

{% block content %}

    <div class="header">
    	<div class="container feather-bottom">
    		<div class="row">
	  			<div class="span6">
	  				<h2>Piosenka z tekstem</h2>
	  				<p>Strona poświęcona piosence literackiej. Artykuły, relacje z koncertów i opracowania piosenek, których <i>wymiar między konkretem a przestrzenią jest zupełnie niepojęty</i>.</p>
	  			</div>
	  			<div class="span6 lead-quote">
	  				<blockquote>Tylko się pierwszy raz daj objąć <br />
						A niech już sobie krytyk kracze! <br />
						Choć mnodzy wciąż to z Tobą robią <br />
						Daj wierzyć - zrobię to inaczej
					  <small>Jacek Kaczmarski - <a href="/">Do Muzy suplikacja przy ostrzeniu pióra</a></small>
					</blockquote>
	  			</div>
	  		</div>

    	</div>
    </div>

    <div class="container">
    	<div class="row">
  			<div class="span4">
  				<h4>Blog</h4>
  				<p>Nowe posty:</p>

  			</div>
  			<div class="span8">
	  			<div id="myCarousel" class="carousel slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
	                    <img src="{{STATIC_URL}}images/carousel/jacek_kaczmarski_550_300.jpg" alt="" width="620">
	                    <div class="carousel-caption">
	                      <h4>Piosenki Jacka Kaczmarskiego</h4>
	                      <p>Ponad <a href="/spiewnik/jacek-kaczmarski/">150 opracowań</a> piosenek Jacka Kaczmarskiego z nutami autorstwa Tomasza Susmęda.</p>
	                    </div>
				    </div>
				    <div class="item">
	                    <img src="{{STATIC_URL}}images/carousel/jacek_kaczmarski_550_300.jpg" alt="" width="620">
	                    <div class="carousel-caption">
	                      <h4>First Thumbnail label</h4>
	                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                    </div>
				    </div>
				    <div class="item">
	                    <img src="{{STATIC_URL}}images/carousel/jacek_kaczmarski_550_300.jpg" alt="" width="620">
	                    <div class="carousel-caption">
	                      <h4>First Thumbnail label</h4>
	                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                    </div>
				    </div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
  				
  			</div>
		</div>
		<div class="row">
			<div class="span4"><h4>Śpiewnik</h4>
			<p>Nowe opracowania:</p>
				<ul>
  					<li><a href="/">Mury</a></li>
  					<li><a href="/">Obława</a></li>
  					<li><a href="/">Z XVI-wiecznym portretem trumiennym rozmowa</a></li>
  				</ul>				
			</div>
			<div class="span4"><h4>Wydarzenia</h4>
			<p>Nadchodzące wydarzenia:</p>
				<ul>
  					<li><a href="/">Abc</a></li>
  					<li><a href="/">Cde</a></li>
  					<li><a href="/">Efg</a></li>
  				</ul>				
			</div>
			<div class="span4"><h4>Facebook</h4>
				<div class="fb-like-box" data-href="http://www.facebook.com/piosenkaztekstem" data-width="298" data-show-faces="true" data-stream="false" data-header="false"></div>
			</div>
		</div>



    </div> <!-- /container -->
	    
{% endblock content %}