{% extends "base-next.html" %}

{% block content %}

    {% include "frontpage/top.html" %}

    <div class="container">
    	<div class="row">
  			<div class="span4">
  				{% include "frontpage/new_posts.html" %}
				{% include "frontpage/new_songs.html" %}
  			</div>
  			<div class="span8">
	  			{% include "frontpage/carousel.html" %}

				<div class="row">

					<div class="span4">
						{% include "frontpage/upcoming_events.html" %}				
					</div>
					<div class="span4">
						<div class="customwell auxwell">
							<h1>Facebook</h1>
							<div class="fb-like-box" data-href="http://www.facebook.com/piosenkaztekstem" data-width="280" data-show-faces="true" data-stream="false" data-header="false"></div>
						</div>
					</div>
				</div>


  			</div>
		</div>
		

    </div> <!-- /container -->
    
{% endblock content %}