{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% include "frontpage/new_posts.html" %}
      <div class="section">
        <h2 class="pzt-card-title">Ostatnie komentarze</h2>
          <div id="last-comments"></div>
      </div>
      <div class="section">
        <h2 class="pzt-card-title">Portale społecznościowe</h2>
        <div class="pzt-social-button fb-page" data-href="https://www.facebook.com/piosenkaztekstem/" data-width="280" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/piosenkaztekstem/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/piosenkaztekstem/">Piosenka z tekstem</a></blockquote></div>
      </div>
    </div>
    <div class="col-md-8">
      {% include "frontpage/carousel.html" %}
      <div class="row">
        <div class="col-md-6">
          {% include "frontpage/upcoming_events.html" %}
          {% include "frontpage/annotation.html" %}
        </div>
        <div class="col-md-6">
          {% include "frontpage/new_songs.html" %}
          {% include "frontpage/new_annotations.html" %}
          <div class="section">
            <h2 class="pzt-card-title">Piosenki wg tematu lub inspiracji</h2>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'calendar' %}">Historia w piosence</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
