{% for post in posts %}
<div class="section">
  <div class="content">
    <h2 class="pzt-card-title">Blog: {{ post.title }}
      {% include "components/content_status_span.html" with item=post %}
    </h2>

    {{ post.post_html|safe }}

    <p>
    {% if post.more_trevor %}
    <a href="{{ post.get_absolute_url }}">Czytaj dalej i skomentuj</a>.
    {% else %}
    <a href="{{ post.get_absolute_url }}">Komentarze</a>.
    {% endif %}
    <a href="{% url 'post_index' %}">Więcej postów</a>.
    </p>

    {% include "components/content_foot.html" with action="Dodany" item=post %}
  </div>
</div>
{% endfor %}
