{% for post in posts %}
<div class="customwell contentwell">
  <h1 class="remove-top-margin">Blog: {{ post.title }}
  {% include "components/content_status_span.html" with item=post %}
  </h1>

  {{ post.post_html|safe }}

  {% if post.more_trevor %}
  <p><a href="{{ post.get_absolute_url }}">Czytaj dalej i skomentuj</a>.</p>
  {% else %}
  <p><a href="{{ post.get_absolute_url }}">Skomentuj</a>.</p>
  {% endif %}
  {% include "components/content_foot.html" with action="Dodany" item=post %}
</div>
{% endfor %}
