<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Piosenka z tekstem</h2>
        <p>Strona poświęcona piosence literackiej. Artykuły, relacje z koncertów i opracowania piosenek, których <i>wymiar między konkretem a przestrzenią jest zupełnie niepojęty</i>.</p>
      </div>
      <div class="col-md-6 lead-quote">
        <blockquote class="lyrics-quote">Tylko się pierwszy raz daj objąć <br />
          A niech już sobie krytyk kracze! <br />
          Choć mnodzy wciąż to z Tobą robią <br />
          Daj wierzyć - zrobię to inaczej
          <small>Jacek Kaczmarski - <a href="/spiewnik/jacek-kaczmarski/do-muzy-suplikacja-przy-ostrzeniu-piora/">Do muzy suplikacja przy ostrzeniu pióra</a></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
