
/* Reset Defaults Starts */

* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote {
	margin: 0;
	padding: 10px;
}

a {
	color: #215679;
}

a:hover {
	color: #0F92BC;
	text-decoration: underline !important;
}

blockquote {
	border: 1px dotted silver;
	display: block;
	margin: 0px;
	padding: 10px;
	quotes: "\201C" "\201D";
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Reset Defaults Ends *//*====== layouts =====*/
.layout .content {	padding: 0 10px;}
#contentwrapper {margin:0 175px;position:relative}
.sidebar_left {position:absolute;width:160px;left:10px;}
.sidebar_right {display:inline;padding:0}
.sidebar_right {float:right}
.sidebar_left {float:left}
.sidebar_left{padding-left:0 !important}
.sidebar_right {padding-left:10px;}
.sidebar {padding-left:15px;}
.sidebar_left {padding-left:0px !important;}
.sidebar_right {margin-right:5px;}
.sidebar_right {margin-right:5px;}
.sidebar_left  {	*top: 130px;}
.sidebar_right  {	*display: inline; 	*position: absolute; 	*right: 10px; 	*top: 130px;}

body {	
	background-color: white;	
	font-family:"Trebuchet MS",sans-serif;
	font-size: 10pt;
	margin:0 auto 10px;
}

#wrapper {
	margin:0 auto;position:relative;text-align:left;width:941px;
}

#header {
	margin: 0;
	padding: 0 0 0 0;
}

#header .topright {
	float: right;
	position: relative;
	margin: 0;
	padding: 0;
	text-align: right;
	color: #fff;
}

#underheader {
	clear: both;
	margin-top: 20px;
	padding: 0 0 15px 0;
}

#underheader h1.sitename {
	padding: 0 0 0 0;
	position: relative;
	font-size: 23pt;
	width: 600px;
}

#underheader h1.sitename a {
	color: #fff;
	text-decoration: none;
}

#underheader h1.sitename a:hover {
	color: #fff;
	text-decoration: none;
}

#underheader h2.sitedesc {
	padding: 0 0 0 0;
	position: relative;
	font-size: 12pt;
	color: #fff;
}

/* Main content */
#main {background:#FFFFFF none repeat scroll 0 0;clear:both;display:block;float:left;margin:0;min-height:400px;padding:0 1% 1%;width:98%;
}#content {float:left;min-height:400px;padding:0 1%;width:97%;}
#content .pageTitle {
	padding: 5px 0 5px 0;
	font-size: 14pt;
	color: #000;
}

.contentsearch {
	margin: 0 0 40px 100px;
}

.contentsponsors {
	margin: 0 0 30px 190px;
}

.adsense_top {
	text-align: center;
	margin: 10px 0 25px 0;
	font-size: 9pt;
}

.adsense_sidebar {
	text-align: center;
	margin: 0 0 20px 0;
	font-size: 9pt;
}

.post {
	margin: 20px 0 25px 0;
}

#content table {
	/*font-size: 10pt;*/
}

#content p {
	text-align: justify;	
}

#content ul {
	margin-left: 30px;
}

#content li {
	margin-left: 0px;
}


.indented {
	padding-left:10px;
}

#content a {
	display: block;
	color: #2C6286;
	text-decoration: none;
	display: inline;
}

#content a:hover {
	color: #4C82A6;
	text-decoration: underline;
}

h2, h3, h4, h5, h6 {
	padding: 0 0px;
	font-weight: bold;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
	padding-top: 5px;
}

h4, h5, h6 {
	font-size: 11pt;
}

h2.homeTitle {
	margin: 0 0 15px 0;
}

h2.postTitle {
	padding: 0 10px;
	font-size: 14pt;
	font-weight: bold;
	color: #05546C;
}

h2.postTitle a {
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: #05546C;
	letter-spacing: -1px;
}

h2.postTitle a:hover {
	color: #215679;
}

.postMeta {
	padding: 2px 10px 4px 10px;
	font-size: 9pt;
	color: #333;
}

.postMeta .date {
	background: url("images/date.gif") left no-repeat;
	padding: 0 0 0 15px;
}

.postMeta .filed {
	background: url("images/folder.gif") left no-repeat;
	padding: 0 0 0 18px;
	margin: 0 0 0 3px;
}

.postMeta .commentcount {
	background: url("images/comments.gif") left no-repeat;
	padding: 0 0 0 18px;
	margin: 0 0 0 3px;
}

.postMeta .tags {
	background: url("images/tags.gif") left no-repeat;
	padding: 0 0 0 15px;
}

.postMeta a {
	text-decoration: none;
}

.postContent img {
	margin: 10px;
	border: 3px solid #CCC;
}

#content p,.postContent p {
	padding: 5px 10px;
	font-size: 10pt;
	color: #000;
}

.navigation {
	margin: 10px 0;
	color: #406E8D;
	text-align: center;
	font-size: 10pt;
}

.navigation a {
	text-decoration: none;
}

a.gravatar {
	float: left;
	margin: 10px 15px 20px 0;
	width: 69px;
}
/* Sidebars */
.sidebar {	width: 160px;	margin-top: 15px;	}
#sidebar1 {	display:inline;}
#sidebar2 {	padding-left: 10px;	display:inline;}


.sidebar input {
	width:155px	
}

.sidebar h2 {
	padding: 3px 7px;
	font-size: 11pt;
	color: #fff !important;
	font-weight: normal;
	background: transparent url("images/home-content-header-bg.jpg")
		no-repeat scroll left top;
	margin-bottom: 3px;
}

.sidebar h2 a{
	color: #ffffff;
}

.sidebar table {
	width: 160px;
}

.sidebar ul {
	margin: 0;
	padding: 0 0 5px 0;
}

.sidebar li {
	margin-bottom: 20px;
	list-style: none;
	/*font-size: 9pt;*/
}

.sidebar li ul {
	padding: 0;
}

.sidebar ul ul li {
	margin: 0;
	padding: 2px 2px 2px 8px;
	color: #222;
	line-height: 17px;
	/* Required for cross-browser consistency; cross-browser defaults vary. */
	/*border-bottom: 1px dotted #ccc;*/
}

.sidebar a {
	display: block;
	color: #333;
	text-decoration: none;
	display: inline;
}

.sidebar a:hover {
	color: #4C82A6;
	text-decoration: underline;
}

.sidebar p {
	padding: 20px 0;
	font-size: 9pt;
}

/* Footer */
#footer {
	clear: both;
	padding-top: 0;
	color: #fff;
	text-align: center; /* IE Centering Technique */
	background: #000;
}

#footer p {
	padding: 0;
	font-size: 8pt;
	color: #fff;
	text-align: center;
}

#footer a {
	color: #87BBD9;
}

#footer a:hover {
	color: #fff;
}

#credits {
	clear: both;
	margin: 0 auto;
	line-height: 19px;
}

/* Extras */
.cleared {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#nextprevious {
	padding: 10px;
	font-size: 80%;
}

.commentbody {
	float: right;
	width: 420px;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;
}

#toprss {
	background: transparent url("images/logo.jpg") no-repeat scroll left top
		;
	height: 102px;
}

.logo {
	float: left;
	margin: 37px 0 0 34px;
}

.blogerName {
	float: left;
	margin: 0px 10px 0px 0px;
	color: #fff;
	font-size: 14px;
	clear: right;
}

.blogerName h1 {
	padding: 5px 10px;
}

.blogerName a {
	color: #fff;
	text-decoration: none !important;
}

.blogerName .description {
	text-align: right;
	padding-right: 10px;
}

#mainMenu {
	height: 30px;
	padding: 0px 0px;
	margin-top: 0px;
}

#mainMenu ul {
	float: left;
}

#mainMenu ul li {
	float: left;
	color: #bcb8bf;
}

#mainMenu ul li a,#mainMenu ul li a:link,#mainMenu ul li :visited {
	text-decoration: none;
	color: #bcb8bf;
	text-transform: uppercase;
	font-size: 14px;
}

#mainMenu ul li a:hover {
	text-decoration: none;
}

.lavaLamp ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: 0px 10px;
	margin: 0px auto;
	overflow: hidden;
	height: 30px;
}

.lavaLamp ul li a {
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 28px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
	text-decoration: none !important;
}

.lavaLamp ul li a:hover,.lavaLamp ul li a:active,.lavaLamp ul li a:visited
	{
	border: none;
}

.rss {
	float: right;
	font-size: 12px;
	padding: 10px 10px 0 0;
	margin-right: 10px;
}

.rss a {
	text-decoration: none;
}

.rss img {
	vertical-align: top;
}

