* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote {
	margin: 0;
	padding: 5px;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 20px 0;
    padding: 0 5px 0 5px;
}

h2 {
    font-size: 16px;
    text-align: left;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 5px;
}

a {
	color:  #266294 ;
	text-decoration: none;
}

a:hover {
	color:  #266294 ;
	text-decoration: underline !important;
}

blockquote {
	border: 1px dotted silver;
	display: block;
	margin: 0;
	padding: 10px;
	quotes: "\201C" "\201D";
}

body {
	font-family: Times, serif;
	font-size: 14px;
	background: white;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.indented {
	padding-left:10px;
}

.post {
	margin-top: 10px;
}

.post .meta {
	padding-left: 5px;
}

.date {
	background: url("/site_media/native/images/date.gif") left no-repeat;
	padding: 0 0 0 15px;
}


.postContent {
    width: 100%;
    text-align: justify;
}

.postContent img {
	margin: 10px;
	border: 3px solid #CCC;
}

/* jquery-based toggling */

.extra-chords-trigger {
    cursor: pointer;
    color: #215679;
    font-size: 9pt;    
}

.extra-chords {
    display: none;
}


#nav ul {
	position: relative;
	padding: 7px 0 0 0;
	margin: 0 0 0 0;
	height: 30px;
}

#nav li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

#nav ul li a,#nav ul li a:link,#nav ul li a:visited, #nav ul li a:hover{
	text-decoration: none;
	color: #444444;
	text-transform: uppercase;
	font-size: 14px;
}

#nav ul li a:hover{
	text-decoration: none !important;
}


#pagetitle {
    color: white;
    text-align: left;
    display: inline;
    font-size: 27px;
    font-family: sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#pagemotto {
    color: white;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    padding: 0px 0px 0px 250px;
    margin: 0px 0px 0px 0px;
}

#header a {
    color: white;
}

#header a:hover{
    text-decoration: none !important;
}

#logo {
	padding: 0px 15px 15px 15px; 
	display: inline; 
	vertical-align: middle;
}

/* stripe */

#stripe {
    background: black;
}

#header-container {
	width: 941px;
    margin: auto;
}

#header {
	height: 70px;
}

/* nav */

#nav-container {
    background: url("/site_media/native/images/nav-bg.png");
    height: 30px;
}

#nav {
    background: url("/site_media/native/images/nav.png");
    height: 30px;
    margin: auto;
    width: 941px;
}

/* page */

#page-container {
	width: 941px;
    margin: auto;
}

#hull {
    background: white;
}

#footer {
	background: white;
	height: 50px;
	clear: both;
	font-size: 8pt;
	text-align: center;
	color: black;
	padding-top: 15px;
}

/* widget & sheet & submenu */

.widget, .sheet, .submenu {
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 3px 3px 3px #ccc;
	padding: 3px;
	margin-bottom: 10px;
}

.widget
{
	background: #f6f6f6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget h1
{
    margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: bold;
	color: slategray ;
	text-align: left;
	font-family: Helvetica;
}

.widget h2
{
    margin: 5px 0 5px 0;
    padding: 2px 0 2px 0;
	font-size: 10pt;
	border-bottom: 0 double #05546C;
	text-align: right;
}

.widget li {
	padding-left: 5px;
    list-style: none;
}

.widget .selected {
	font-weight: bold;
}

.widget .selected a {

}

.sheet
{
	background: ivory ;
	border: 1px solid cornsilk;
}

.sheet ul
{
	padding-left: 25px;
}

.submenu
{
	background: white;
	border: 1px solid #f6f6f6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* division */

.frontThird > div {
	width: 297px;
}

.padLeft > div, .padMain > div  {
	width: 610px;
}


.padRight > div, .padSidebar > div {
	width: 290px;
}

.frontThird, .padLeft, .padRight, .padMain, .padSidebar {
	float:left;
	margin: 5px;
	padding: 0;
}

.menuedLeft > div {
	width: 200px;
}

.menuedJoined > div {
	width: 700px;
}

/* end */