{% extends "base.html" %}

{% block title %}O stronie{% endblock %}

{% block hull %}
<div class="padMain">
	<div class="sheet">
	<h1>O stronie</h1>

  	<h2>Dziękujemy</h2>
  	<p>
  	Dziękujemy za pomoc w zgromadzeniu opublikowanych materiałów, w szczególności za nadesłane opracowania, materiały i poprawki a także za pomoc techniczną. Pomogli:
		<ul>
			<li><a href="http://asia-biega.com/">Joanna Biega</a></li>
	  		<li><a href="http://www.przemekbogusz.com.pl/" >Przemysław Bogusz</a></li>
	  		<li><a href="http://fotoblog.przemeklipski.com/">Przemysław Lipski</a></li>
	  		<li><a href="http://www.pmatczuk.art.pl/">Piotr Kajetan Matczuk</a></li>
	  		<li><a href="http://www.projektkaczmarski.pl/" >Jakub Mędrzycki</a></li>
	  		<li>Ewa Pietkiewicz</li>
	  		<li><a href="http://www.trio.art.pl/" >Tomasz Susmęd</a></li>
	  		<li>Mariusz Zadura</li>
	  	</ul>
  	</p>
  	
    <p>Autorem wszystkich opracowań nutowych zamieszczonych w <a href="/spiewnik/">Śpiewniku</a> jest <a href="http://www.trio.art.pl/" >Tomasz Susmęd</a>.</p>
  	
	<h2>Autorzy</h2>
	<p>
	    Redakcja:
		<ul>
		    <li>Radosław Książek</li>
		    <li>Adam Łapacz</li>
	  		<li>Mateusz Nagórski</li>
            <li>Alek Pawluś</li>
	  		<li>Przemysław Pietrzkiewicz</li>
	  		<li>Przemysław Żbikowski</li>
	  	</ul>
	</p>

	<p>
	    Opracowanie techniczne:
	    <ul>
	        <li>Przemysław Pietrzkiewicz</li>
	    </ul>
	</p>

	<h2>Technikalia</h2>
	<p>
		Strona powstała i jest rozwijana dzięki technologiom open source.
	</p>
	<p>
		<center>
		<img src="{{ STATIC_URL }}images/badges/django.gif" /> 
		<img src="{{ STATIC_URL }}images/badges/python.gif" /> 
		<img src="{{ STATIC_URL }}images/badges/postgres.gif" /> 
		</center>
	</p>
</div>
</div>

<div class="padSidebar">
	<div class="sheet">
    <h1>Kontakt</h1>
	<p>
	    Wszelkie uwagi, sugestie, zapytania, informacje o błędach prosimy przesyłać na adres <b>redakcja malpa piosenkaztekstem kropka pl</b>.
	</p>
</div>
</div>

{% endblock hull %}

