{% extends "bnone.html" %}

{% block title %}O stronie{% endblock %}

{% block content %}
	<h1>O stronie</h1>

	<h2>Wizja</h2>
	<p>
		Ten fragment Internetu jest poświęcony piosence literackiej - nurtowi piosenek, 
		których tekst reprezentuje niezerową wartość literacką - w subiektywnym ujęciu autorów. 
  	</p>
  	
  	<h2>Dziękujemy</h2>
  	<p>
  	Dziękujemy za pomoc w zgromadzeniu opublikowanych materiałów, w szczególności za nadesłane opracowania, materiały i poprawki. Pomogli:
		<ul>
	  		<li><a href="http://www.przemekbogusz.com.pl/" >Przemysław Bogusz</a></li>
	  		<li><a href="http://fotoblog.przemeklipski.com/">Przemysław Lipski</a></li>
	  		<li><a href="http://www.pmatczuk.art.pl/">Piotr Kajetan Matczuk</a></li>
	  		<li><a href="http://www.projektkaczmarski.pl/" >Jakub Mędrzycki</a></li>
	  		<li>Ewa Pietkiewicz</li>
	  		<li><a href="http://www.trio.art.pl/" >Tomasz Susmęd</a></li>
	  		<li>Mariusz Zadura</li>
	  	</ul>
  	</p>
  	
    <p>Autorem wszystkich opracowań nutowych zamieszczonych w <a href="/spiewnik/">Śpiewniku</a> jest <a href="http://www.trio.art.pl/" >Tomasz Susmęd</a>.</p>
  	
	<h2>Autorzy</h2>
	<p>
	    Opracowanie techniczne:
	    <ul>
	        <li>Przemysław Pietrzkiewicz</li>
	    </ul>
	</p>
	<p>
	    Redakcja:
		<ul>
		    <li>Radosław Książek</li>
		    <li>Adam Łapacz</li>
	  		<li>Mateusz Nagórski</li>
	  		<li>Przemysław Pietrzkiewicz</li>
	  		<li>Przemysław Żbikowski</li>
	  	</ul>
	</p>

	<h2>Piosenka z tekstem na Facebooku</h2>
	
	<p>Zapraszamy do śledzenia pokrewnej inicjatywy - facebookowej platformy wymiany informacji i linków o piosenkach, których <i>wymiar między konkretem a przestrzenią jest po prostu niepojęty</i>.</p>
<div class="fb-like-box" data-href="http://www.facebook.com/piosenkaztekstem" data-width="920" data-show-faces="false" data-stream="true" data-header="false"></div>

    <h2>Kontakt</h2>
	<p>
	    Wszelkie uwagi, sugestie, zapytania prosimy przesyłać na adres <b>redakcja malpa piosenkaztekstem kropka pl</b>.
	</p>
	
	<h2>Technikalia</h2>
	<p>
		Strona powstała i jest rozwijana dzięki technologiom open source.
	</p>
	<p>
		<center>
		<img src="{{ STATIC_URL }}images/badges/django.gif" /> 
		<img src="{{ STATIC_URL }}images/badges/python.gif" /> 
		<img src="{{ STATIC_URL }}images/badges/postgres.gif" /> 
		</center>
	</p>

	
{% endblock content %}

