{% extends "base.html" %}
{% load staticfiles %}

{% block title %}O stronie{% endblock %}
{% block description %}Opis strony internetowej Piosenka z tekstem{% endblock description %}

{% block content %}
{% include "frontpage/top.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">O stronie</h1>
        <p>
        <b>Piosenka z tekstem</b> jest tworzona przez środowisko sympatyków
        piosenki literackiej hobbystycznie i <b>niekomercyjnie</b>. Serwis nie
        zawiera reklam i nie publikuje artykułów sponsorowanych.
        </p>

        <p>
        Strona działa dzięki pracy <b>zespołu</b> ochotników. W ramach dbałości o
        jakość zamieszczanych treści, każdy materiał przed publikacją
        przechodzi <b>korektę</b>.
        </p>

        <h2>Zespół</h2>
        <table class="table table-striped table-condensed scoreboard">
          <tr><th></th><th>Piosenki</th><th>Wydarzenia</th><th>Artykuły</th><th>Suma<th></tr>
          {% for author in authors %}
          <tr>
            <td>{{ author.user.first_name }} {{ author.user.last_name }}
              {% if author.user.is_staff %} <span class="badge"> korektor </span> {% else %}
              <span class="badge"> autor </span>{% endif %}
            </td>
            <td>{{ author.songs }}</td>
            <td>{{ author.events }}</td>
            <td>{{ author.articles }}</td>
            <td>{{ author.total }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="customwell contentwell">
        <h1>Dziękujemy</h1>
        <p>
        Dziękujemy za pomoc w zgromadzeniu opublikowanych materiałów, w
        szczególności za nadesłane opracowania, materiały i poprawki a także za
        pomoc techniczną. Pomogli:
        </p>

        <ul>
          <li>Witold Bartoszek</li>
          <li><a href="http://asia-biega.com/">Joanna Biega</a></li>
          <li><a href="http://www.przemekbogusz.com.pl/" >Przemysław Bogusz</a></li>
          <li>Maciej Kurek</li>
          <li><a href="http://fotoblog.przemeklipski.com/">Przemysław Lipski</a></li>
          <li><a href="http://www.pmatczuk.art.pl/">Piotr Kajetan Matczuk</a></li>
          <li><a href="http://www.projektkaczmarski.pl/" >Jakub Mędrzycki</a></li>
          <li><a href="http://www.trio.art.pl/" >Tomasz Susmęd</a></li>
          <li>Mariusz Zadura</li>
        </ul>

        <p>
        Autorem wszystkich opracowań nutowych zamieszczonych w
        <a href="/spiewnik/">Śpiewniku</a> jest
        <a href="http://www.trio.art.pl/" >Tomasz Susmęd</a>.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="customwell auxwell">
        <h1>Kontakt</h1>
        <p>
        Wszelkie uwagi, sugestie, zapytania, informacje o błędach prosimy
        przesyłać na adres <b>redakcja malpa piosenkaztekstem kropka pl</b>.
        </p>

      </div>
      <div class="customwell auxwell">
        <h1>Notka</h1>
        <p>
        Dokładamy starań, aby materiały publikowane na stronie, w szczególności
        teksty piosenek, były zamieszczane za zgodą autorów lub właścicieli
        praw.
        </p>

        <p>
        W przypadku wątpliwości odnośnie poszczególnych publikacji, prosimy o
        kontakt mailowy (adres powyżej).
        </p>
      </div>
      <div class="customwell auxwell">

        <h1>Technikalia</h1>
        <p>
        Strona powstała i jest rozwijana dzięki technologiom open source.
        </p>
        <ul class="list-unstyled badgelist">
          <li><img src="{% static "images/badges/django.gif" %}"/></li>
          <li><img src="{% static "images/badges/python.gif" %}"/></li>
          <li><img src="{% static "images/badges/postgres.gif" %}"/></li>
        </ul>
        <p>Również kod źródłowy PzT jest <a href="https://github.com/ppiet/piosenka">dostępny publicznie</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

