{% load static %}
{% load compress %}

<!DOCTYPE HTML>
<html lang="pl">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PWGKYXKHWD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PWGKYXKHWD');
    </script>

    <title>{% block title %}Piosenka z tekstem{% endblock title %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{% block description %}Śpiewnik piosenki literackiej, wydarzenia, refleksje{% endblock description %}" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

    {% compress css %}
    <link href="{% static "third_party/bootstrap/css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "third_party/luminous/luminous-basic.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "third_party/sirtrevor/css/sir-trevor.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "third_party/sirtrevor/css/sir-trevor-icons.css" %}" rel="stylesheet" type="text/css" />

    <link href="{% static "css/sirtrevor.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/comments.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/song.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    {% endcompress %}

    {% block extra-css %}{% endblock extra-css %}
  </head>

  <body class="pzt">
    <nav class="navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a href="/" title="Strona główna"><img src="{% static "images/feather_40.png" %}" alt="Logo: białe pióro na czarnym tle"/></a>
        <div class="search pzt-collapsed-navbar-search">
          <input type="text" class="form-control" placeholder="Jałta, Rublow, Epitafium dla ...">
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse site-nav">


        <ul class="nav navbar-nav">
          <li><a href="/" title="Strona główna"><span>Strona główna</span></a></li>
          <li><a href="/spiewnik/" title="Śpiewnik"><span>Piosenki</span></a></li>
          <li><a href="/wydarzenia/" title="Wydarzenia"><span>Wydarzenia</span></a></li>
          <li><a href="/artykuly/" title="Artykuły"><span>Artykuły</span></a></li>
          <li><a href="/o-stronie/" title="O stronie"><span>O stronie</span></a></li>

          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>
            {% if user.is_authenticated %}
            {{ user }}
            {% if to_review %}
            <span class="badge">{{ to_review|length }}</span>
            {% endif %}
            {% endif %}
          </a>
          <ul class="dropdown-menu" role="menu">
            {% if user.is_authenticated %}
            {% if to_review %}
            <li><a href="{% url 'to_review' %}">Do korekty
              <span class="badge">{{ to_review|length }}</span>
            </a></li>
            {% endif %}
            <li><a href="{% url 'add_song' %}">Dodaj piosenkę</a></li>
            <li><a href="{% url 'add_post' %}">Dodaj post</a></li>
            <li><a href="{% url 'add_external_event' %}">Dodaj wydarzenie</a></li>
            {% if perms.piosenka.invite %}
            <li><a href="{% url 'invite' %}">Zaproś do PzT</a></li>
            {% endif %}
            <li><a href="{% url 'change_password' %}">Zmień hasło</a></li>
            <li><a href="{% url 'goodbye' %}"><b>Wyloguj</b></a></li>
            {% else %}
            <li><a href="{% url 'hello' %}"><b>Zaloguj</b></a></li>
            {% endif %}
          </ul>
          </li>
        </ul>
        <div class="navbar-right search pzt-expanded-navbar-search">
          <input type="text" class="form-control" placeholder="Jałta, Rublow, Epitafium dla ...">
        </div>
      </div>

    </div>
    </nav>

    <div class="header hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% block header %}
            {% if section and section == 'articles' %}
              <h2>Artykuły</h2>
              <p>Relacje z imprez, recenzje płyt i książek, wywiady, opisy, pytania, odpowiedzi, konkluzje, konstatacje.</p>
            {% else %}
              <h2>Piosenka z tekstem</h2>
              <p>Strona poświęcona piosence literackiej. Artykuły, relacje z koncertów i opracowania piosenek, których <i>wymiar między konkretem a przestrzenią jest zupełnie niepojęty</i>.</p>
            {% endif %}
            {% endblock header %}
          </div>
          <div class="col-md-6 lead-quote">
            {% block quote %}
            {% if section and section == 'articles' %}
              <blockquote class="lyrics-quote">Niech toną w gorzale wspomnienia<br />
                Z kongresu poetów czasu odnowy<br />
                Mniej będą ważyć w kieszeniach<br />
                Grzeczne z wydawnictw odmowy
                <small>Przemysław Bogusz – <a href="/opracowanie/przemyslaw-bogusz-wspomnienie-o-andrzeju-bursie/">Wspomnienie o Andrzeju Bursie</a></small>
              </blockquote>
            {% else %}
              <blockquote class="lyrics-quote">Tylko się pierwszy raz daj objąć <br />
                A niech już sobie krytyk kracze! <br />
                Choć mnodzy wciąż to z Tobą robią <br />
                Daj wierzyć – zrobię to inaczej
                <small>Jacek Kaczmarski – <a href="/opracowanie/jacek-kaczmarski-do-muzy-suplikacja-przy-ostrzeniu-piora/">Do muzy suplikacja przy ostrzeniu pióra</a></small>
              </blockquote>
            {% endif %}
            {% endblock quote %}
          </div>
        </div>
      </div>
    </div>

    {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info messages" role="alert">
            <ul class="list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% block content %} {% endblock content %}
    <div class="footer hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pzt-footer-content">
            © 2011-2025 Piosenka z tekstem
          </div>
        </div>
      </div>
    </div>

    {% compress js %}
    <script src="{% static "third_party/jquery/jquery-2.1.1.js" %}"></script>
    <script src="{% static "third_party/typeahead/typeahead-0.10.4.js" %}"></script>
    <script src="{% static "third_party/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "third_party/luminous/luminous.min.js" %}"></script>
    <script src="{% static "third_party/sirtrevor/js/underscore.js" %}"></script>
    <script src="{% static "third_party/sirtrevor/js/eventable.js" %}"></script>
    <script src="{% static "third_party/sirtrevor/js/sir-trevor.js" %}"></script>

    <script src="{% static "js/comments.js" %}"></script>
    <script src="{% static "js/lightbox.js" %}"></script>
    <script src="{% static "js/messages.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>
    <script src="{% static "js/song.js" %}"></script>
    <script src="{% static "js/tooltips.js" %}"></script>
    {% endcompress %}

    {% block extra-scripts %}{% endblock extra-scripts %}

    <!-- FB -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
