{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE HTML>
<html lang="pl">
  <head>
    <title>{% block title %}Piosenka z tekstem{% endblock title %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow" />
    <meta name="description" content="{% block description %}Śpiewnik piosenki literackiej, wydarzenia, koncerty{% endblock description %}" />

    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

    <!-- Legacy stylesheets to be included in the webpack bundle -->
    <link href="{% static "third_party/bootstrap/css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "third_party/sirtrevor/css/sir-trevor.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "third_party/sirtrevor/css/sir-trevor-icons.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/sirtrevor.css" %}" rel="stylesheet" type="text/css" />

    <!-- Webpack-managed stylesheets. -->
    {% render_bundle 'main' 'css' %}
    {% block extra-css %}{% endblock extra-css %}
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top hidden-print" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="{% static "images/feather_40.png" %}"/>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse site-nav">
        <ul class="nav navbar-nav">
          <li><a href="/" title="Strona główna"><span>Strona główna</span></a></li>
          <li><a href="/blog/" title="Blog"><span>Blog</span></a></li>
          <li><a href="/spiewnik/" title="Śpiewnik"><span>Śpiewnik</span></a></li>
          <li><a href="/wydarzenia/" title="Wydarzenia"><span>Wydarzenia</span></a></li>
          <li><a href="/artykuly/" title="Artykuły"><span>Artykuły</span></a></li>
          <li><a href="/o-stronie/" title="O stronie"><span>O stronie</span></a></li>

          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>
            {% if user.is_authenticated %}
            {{ user }}
            {% if to_review %}
            <span class="badge">{{ to_review|length }}</span>
            {% endif %}
            {% endif %}
          </a>
          <ul class="dropdown-menu" role="menu">
            {% if user.is_authenticated %}
            {% if to_review %}
            <li><a href="{% url 'to_review' %}">Do korekty
              <span class="badge">{{ to_review|length }}</span>
            </a></li>
            {% endif %}
            {% if perms.articles.contribute_article %}
            <li><a href="{% url 'add_article' %}">Dodaj artykuł</a></li>
            {% endif %}
            {% if perms.songs.contribute_song %}
            <li><a href="{% url 'add_song' %}">Dodaj piosenkę</a></li>
            {% endif %}
            {% if perms.blog.contribute_post %}
            <li><a href="{% url 'add_post' %}">Dodaj post</a></li>
            {% endif %}
            {% if perms.events.contribute_event %}
            <li><a href="{% url 'add_event' %}">Dodaj wydarzenie</a></li>
            {% endif %}
            {% if perms.piosenka.invite %}
            <li><a href="{% url 'invite' %}">Zaproś do PzT</a></li>
            {% endif %}
            <li><a href="{% url 'change_password' %}">Zmień hasło</a></li>
            <li><a href="{% url 'goodbye' %}"><b>Wyloguj</b></a></li>
            {% else %}
            <li><a href="{% url 'hello' %}"><b>Zaloguj</b></a></li>
            {% endif %}
          </ul>
          </li>
        </ul>
        <div class="navbar-right search">
          <input type="text" class="form-control" placeholder="Jałta, Rublow, Epitafium dla ...">
        </div>
      </div>

    </div>
    </nav>

    <div class="header hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% block header %}
            <h2>Piosenka z tekstem</h2>
            <p>Strona poświęcona piosence literackiej. Artykuły, relacje z
            koncertów i opracowania piosenek, których <i>wymiar między
            konkretem a przestrzenią jest zupełnie niepojęty</i>.
            </p>
            {% endblock header %}
          </div>
          <div class="col-md-6 lead-quote">
            {% block quote %}
            <blockquote class="lyrics-quote">Tylko się pierwszy raz daj objąć <br />
              A niech już sobie krytyk kracze! <br />
              Choć mnodzy wciąż to z Tobą robią <br />
              Daj wierzyć - zrobię to inaczej
              <small>Jacek Kaczmarski - <a href="/spiewnik/jacek-kaczmarski/do-muzy-suplikacja-przy-ostrzeniu-piora/">Do muzy suplikacja przy ostrzeniu pióra</a></small>
            </blockquote>
            {% endblock quote %}
          </div>
        </div>
      </div>
    </div>

    {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info messages" role="alert">
            <ul class="list-unstyled">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% block content %} {% endblock content %}
    <div class="footer hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <center><b>© 2011-2015 Piosenka z tekstem</b></center>
          </div>
        </div>
      </div>
    </div>

    <!-- Legacy scripts to be included in the webpack bundle -->
    <script type="text/javascript" src="{% static "third_party/jquery/jquery-2.1.1.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "third_party/typeahead/typeahead-0.10.4.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "third_party/bootstrap/js/bootstrap.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "third_party/sirtrevor/js/underscore.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "third_party/sirtrevor/js/eventable.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "third_party/sirtrevor/js/sir-trevor.js" %}" charset="utf-8"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwjKvGXS3SBgTueMCT_i0fANJuoAvsqVA&sensor=false"></script> 

    <!-- Webpack-managed js. -->
    {% render_bundle 'main' 'js' %}

    {% block extra-scripts %}{% endblock extra-scripts %}

    <script>
      if (typeof(load_location) == "function") {
        $(document).ready(
          function(){
            load_location();
          }
        );
      }
    </script>

    <!-- FB -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Google Analytics -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23138480-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </body>
</html>
