<!DOCTYPE HTML> 
<html lang="pl">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not print %}
    <meta name="robots" content="index,follow" />
    {% else %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <link rel="index" title="Piosenka z tekstem" href="http://www.piosenkaztekstem.pl" />
    <title>{% block title %}Piosenka literacka{% endblock title %} - Piosenka z tekstem</title>

    <meta name="description" content="{% block description %}Śpiewnik piosenki literackiej, wydarzenia, koncerty{% endblock description %}" />
    <meta name="keywords" content="Śpiewnik, chwyty, akordy, Kaczmarski, Gintrowski, Czajkowski" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?stamp=05" > 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css?stamp=05" >
    {% include "base/plugins/google_analytics.html" %}
    {% include "base/plugins/google_plus.html" %}
  </head>

  <body{% if print %} class="print"{% endif %}>
    {% include "base/plugins/facebook.html" %}
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js?stamp=05"></script>
    <script src="{{ STATIC_URL }}js/typeahead.min.js?stamp=05"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js?stamp=05"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/trigger.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/site-search.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwjKvGXS3SBgTueMCT_i0fANJuoAvsqVA&sensor=false"></script> 

    {% block extra-scripts %}

    {% endblock extra-scripts %}

    <nav class="navbar navbar-inverse navbar-fixed-top not-for-print" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="{{ STATIC_URL }}images/feather_40.png"/>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse site-nav">
        <ul class="nav navbar-nav">
          {% if section == 'index' %}
          <li class="active"><a href="/" title="Strona główna"><span>Strona główna</span></a></li>
          {% else %}
          <li><a href="/" title="Strona główna"><span>Strona główna</span></a></li>
          {% endif %}


          {% if section == 'blog' %}
          <li class="active"><a href="/blog/" title="Blog"><span>Blog</span></a></li>
          {% else %}
          <li><a href="/blog/" title="Blog"><span>Blog</span></a></li>
          {% endif %}

          {% if section == 'spiewnik' %}
          <li class="active"><a href="/spiewnik/" title="Śpiewnik"><span>Śpiewnik</span></a></li>
          {% else %}
          <li><a href="/spiewnik/" title="Śpiewnik"><span>Śpiewnik</span></a></li>
          {% endif %}

          {% if section == 'wydarzenia' %}
          <li class="active"><a href="/wydarzenia/" title="Wydarzenia"><span>Wydarzenia</span></a></li>
          {% else %}
          <li><a href="/wydarzenia/" title="Wydarzenia"><span>Wydarzenia</span></a></li>
          {% endif %}

          {% if section == 'artykuly' %}
          <li class="active"><a href="/artykuly/" title="Artykuły"><span>Artykuły</span></a></li>
          {% else %}
          <li><a href="/artykuly/" title="Artykuły"><span>Artykuły</span></a></li>
          {% endif %}

          {% if section == 'o-stronie' %}
          <li class="active"><a href="/o-stronie/" title="O stronie"><span>O stronie</span></a></li>
          {% else %}
          <li><a href="/o-stronie/" title="O stronie"><span>O stronie</span></a></li>
          {% endif %}
        </ul>
        <form class="navbar-form navbar-right site-search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Jałta, Rublow, Epitafium dla ...">
          </div>
        </form>
      </div>

    </div> <!-- Container, potrzebne to?? -->
    </nav>

    {% block content %} {% endblock content %}

    <div class="footer not-for-print">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <center><small>© 2011-2012 Piosenka z tekstem</small></center>
          </div>
        </div>

      </div>
    </div>

    <div class="only-for-print">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><p><b>www.piosenkaztekstem.pl</b></p></div>
        </div>
      </div>
    </div>
  </body>
</html>
