{% extends "base.html" %}
{% block hull %}
	    <div id="sidebar-left">
            <ul class="sidebar"> 
                {% block leftmenu %}	
					If You see this message then inheriting template failed to fill the "leftmenu" block. Please contact administration of the site.
				{% endblock leftmenu %} 
                
            </ul> 
	    </div>
	
	    <div id="sidebar-right">
            <ul class="sidebar"> 
                {% block rightmenu %}	
					If You see this message then inheriting template failed to fill the "leftmenu" block. Please contact administration of the site.
				{% endblock rightmenu %}
            </ul>	    
	    </div>
	    
	    <div id="content-both">
			{% block content %}
				If You see this message then inheriting template failed to fill the "content" block. Please contact administration of the site.
			{% endblock content %}
	    </div>
	    
{% endblock hull %}
