{% extends "base.html" %}
{% load static %}

{% block title %}Zmień hasło{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="section">
        <h1>Zmień hasło</h1>
        <form action="{% url "change_password" %}" method="post">{% csrf_token %}
          <input name="old_password" type="password" class="form-control" placeholder="Stare hasło" style="margin-bottom: 5px;"/>
          {{ form.old_password.errors }}
          <input name="new_password1" type="password" class="form-control" placeholder="Nowe hasło" style="margin-bottom: 5px;"/>
          {{ form.new_password1.errors }}
          <input name="new_password2" type="password" class="form-control" placeholder="Nowe hasło (ponownie)" style="margin-bottom: 5px;"/>
          {{ form.new_password2.errors }}
          <input type="submit" value="Zmień hasło" style="width: 100%"/>
        </form>
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock content %}
