{% extends "base.html" %}
{% load static %}

{% block title %}Nowe hasło{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="section">
        <h2>Nowe hasło</h2>
        <p>Wybierz nowe hasło do konta PzT.</p>
        <form method="post">{% csrf_token %}
          <input name="new_password1" type="password" class="form-control" placeholder="Nowe hasło" style="margin-bottom: 5px;"/>
          {{ form.new_password1.errors }}
          <input name="new_password2" type="password" class="form-control" placeholder="Nowe hasło (ponownie)" style="margin-bottom: 5px;"/>
          {{ form.new_password2.errors }}
          <input type="submit" value="OK" style="width: 100%"/>
        </form>
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock content %}
