{% extends "bnone.html" %}

{% block title %}Piosenka z tekstem na Facebooku{% endblock title %}
	
{% block content %}
<h1>Piosenka z tekstem na Facebooku</h1>
	
	<p>Zapraszamy do śledzenia pokrewnej inicjatywy - facebookowej platformy wymiany informacji i linków o piosenkach, których <i>wymiar między konkretem a przestrzenią jest po prostu niepojęty</i>.</p>
<h2>Najnowsze wpisy</h2>
	
<div class="fb-like-box" data-href="http://www.facebook.com/piosenkaztekstem" data-width="920" data-show-faces="false" data-stream="true" data-header="false"></div>
{% endblock content %}


