{% extends "base.html" %}
{% load static %}

{% block title %}Uprawnienia{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section">
        <h1>Uprawnienia</h1>
        {% for user in users %}
        <div><b>{{ user }}</b></div>

        <ul>
        {% for permission in user.get_all_permissions %}
          <li>{{ permission }}</li>
        {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
