{% extends "base.html" %}
{% load static %}

{% block title %}Nie pamiętam hasła{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="section">
        <h2>Nie pamiętam hasła</h2>
        <p>Nie pamiętasz hasła lub nazwy użytkownika?
          <i>(Tylko czemuś zapomniał, Wielopolski?)</i></p>
        <p>Podaj adres email powiązany z Twoim kontem na PzT, wyślemy na niego jednorazowy
          odnośnik pozwalający na zmianę hasła.</p>
        <form action="{% url "reset_password" %}" method="post">{% csrf_token %}
          <input name="email" type="email" class="form-control" placeholder="Adres email" style="margin-bottom: 5px;"/>
              {{ form.email.errors }}
          <input type="submit" value="OK" style="width: 100%"/>
        </form>
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock content %}
