{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Do korekty{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="customwell auxwell">
        <h1>Do korekty</h1>
        {% if to_review %}
        <ul>
          {% for item in to_review %}
          <li><a href="{{ item.get_review_url }}">{{ item }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Nie ma obecnie materiałów oczekujących na Twoją korektę.</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock content %}
