<html>
<body>
<p>Drogi użytkowniku, droga użytkowniczko,</p>

<p><b>{{ invitation.extended_by }}</b> zaprosił Cię do założenia konta w
serwisie <b>Piosenka z tekstem</b>. Konto PzT pozwala dodawać materiały,
takie jak:</p>

<ul>
  <li>opracowania piosenek</li>
  <li>adnotacje do piosenek</li>
  <li>informacje o koncertach</li>
  <li>artykuły</li>
</ul>

<p>Dodane materiały będą widoczne publicznie po zatwierdzeniu przez
korektora.</p>

<p>Aby założyć konto PzT, <a href="{{ site }}{{ invitation.get_invitation_url }}">kliknij
link</a>. Link powiązany jest z zaproszeniem i może zostać zrealizowany tylko
przez Ciebie. Link jest ważny przez tydzień.</p>

<p>Pozdrowienia,</p>
<p>Automat emailowy PzT,</p>
