{% extends "base.html" %}

{% block title %}{% if song %}Edytuj piosenkę: {{ song }}{% else %}Dodaj piosenkę{% endif %}{% endblock title %}

{% block extra-scripts %}
<script>
$('.tip').tooltip({});
</script>
{% endblock extra-scripts %}

{% block content %}
<style>
textarea#id_lyrics {
    width: 100%;
    height: 500px;
}
</style>
{% include "songs/top.html" %}

<div class="container main">
  <form enctype="multipart/form-data" action="{% if not object or not object.pk %}{% url 'add_song' %}{% else %}{{ object.get_edit_url }}{% endif %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="customwell auxwell">
          <h1>Piosenka</h1>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Tytuł" field=form.title %}
            {% include "components/forms/table_field.html" with name="Wyróżnik" field=form.disambig %}
          </table>
        </div>
        <div class="customwell auxwell">
          <h1>Opracowanie</h1>
          <div class="alert alert-info" role="alert">
            <p>
            Wpisz opracowanie w miejsce przykładu poniżej. <b>Przed dodaniem
              piosenki zapoznaj się z
              <a href="/o-stronie/format-opracowan/" target="_empty">opisem formatu opracowań</a></b>.
            </p>

            <p>Uwaga:</p>
            <ul>
              <li>tylko opracowania w języku polskim</li>
              <li>tylko opracowania wraz z akordami</li>
            </ul>
          </div>
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
          {% endif %}
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Próg kapodastra" field=form.capo_fret %}
          </table>
          {{ form.lyrics }}
          {{ form.lyrics.errors }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="customwell auxwell">
          <h1>Autor lub autorzy</h1>
          <div class="alert alert-info" role="alert">
            Przy każdym opracowaniu należy wskazać przynajmniej jednego autora.
          </div>
          {{ entitycontribution.management_form }}

          {% if entitycontribution.errors %}
          {%   for dict in entitycontribution.errors %}
          {%     if dict %}
          <div class="alert alert-danger" role="alert">
            {%     for error in dict.values %}
            {{       error }}
            {%     endfor %}
          </div>
          {%     endif %}
          {%   endfor %}
          {% endif %}

          <table class="table table-condensed formset">
            <tr>
              <th> </th>
              <th>Tekst</th>
              <th>Muzyka</th>
              <th>Tł.</th>
              <th>Wyk.</th>
              <th><span class="glyphicon glyphicon-remove"></span></th>
            </tr>
            {% for form in entitycontribution %}
            <tr>
              <td>{{ form.song }} {{ form.id }} {{ form.entity }}</td>
              <td>{{ form.texted }}</td>
              <td>{{ form.composed }}</td>
              <td>{{ form.translated }}</td>
              <td>{{ form.performed }}</td>
              <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="customwell auxwell">
          <h1>Nuty</h1>
          <div class="alert alert-info" role="alert">
            Opcjonalnie: załaduj jeden lub więcej plik graficzny z nutami do piosenki.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Plik 1" field=form.score1 %}
            {% include "components/forms/table_field.html" with name="Plik 2" field=form.score2 %}
            {% include "components/forms/table_field.html" with name="Plik 3" field=form.score3 %}
          </table>
        </div>
        <div class="customwell auxwell">
          <h1>Dodatkowe informacje</h1>
          <div class="alert alert-info" role="alert">
            Wszystkie pola w tej sekcji są opcjonalne.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Tytuł oryginalny" field=form.original_title %}
            {% include "components/forms/table_field.html" with name="Link (YouTube)" field=form.link_youtube %}
            {% include "components/forms/table_field.html" with name="Link (Wrzuta)" field=form.link_wrzuta %}
          </table>
        </div>
        <div class="customwell editwell">
          <h1>Gotowe</h1>
          <input type="submit" value="{% if not object or not object.pk %}Dodaj{% else %}Zapisz{% endif %}" style="width: 100%"/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
