{% extends "songs/base.html" %}

{% block title %}{% if song %}Edytuj piosenkę: {{ song }}{% else %}Dodaj piosenkę{% endif %}{% endblock title %}

{% block extra-css %}
<style>
textarea#id_lyrics {
    width: 100%;
    height: 500px;
}
</style>
{% endblock extra-css %}

{% block content %}
<div class="container main">
  <form enctype="multipart/form-data" action="{% if not object or not object.pk %}{% url 'add_song' %}{% else %}{{ object.get_edit_url }}{% endif %}" method="post" novalidate>{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="section">
          <h1>Piosenka</h1>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Tytuł" field=form.title %}
            {% include "components/forms/table_field.html" with name="Wyróżnik" field=form.disambig %}
          </table>
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
          {% endif %}
        </div>
        <div class="section">
          <h1>Opracowanie</h1>
          <div class="alert alert-info" role="alert">
            <p>
            Wpisz opracowanie w miejsce przykładu poniżej. <b>Przed dodaniem
              piosenki zapoznaj się z
              <a href="#lyrics-format-description">opisem formatu opracowań</a></b>.
            </p>

            <p>Uwaga:</p>
            <ul>
              <li>tylko opracowania w języku polskim</li>
              <li>tylko opracowania wraz z akordami</li>
            </ul>
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Próg kapodastra" field=form.capo_fret %}
          </table>
          {{ form.lyrics }}
          {{ form.lyrics.errors }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="section">
          <h1>Autor lub autorzy</h1>
          <div class="alert alert-info" role="alert">
            Przy każdym opracowaniu należy wskazać przynajmniej jednego autora.
          </div>
          {{ entitycontribution.management_form }}

          {% if entitycontribution.errors %}
          {%   for dict in entitycontribution.errors %}
          {%     if dict %}
          <div class="alert alert-danger" role="alert">
            {%     for error in dict.values %}
            {{       error }}
            {%     endfor %}
          </div>
          {%     endif %}
          {%   endfor %}
          {% endif %}

          <table class="table table-condensed formset">
            <tr>
              <th> </th>
              <th>Tekst</th>
              <th>Muzyka</th>
              <th>Tł.</th>
              <th>Wyk.</th>
              <th><span class="glyphicon glyphicon-remove"></span></th>
            </tr>
            {% for form in entitycontribution %}
            <tr>
              <td>{{ form.song }} {{ form.id }} {{ form.artist }}</td>
              <td>{{ form.texted }}</td>
              <td>{{ form.composed }}</td>
              <td>{{ form.translated }}</td>
              <td>{{ form.performed }}</td>
              <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="section">
          <h1>Nuty</h1>
          <div class="alert alert-info" role="alert">
            Opcjonalnie: załaduj jeden lub więcej plik graficzny z nutami do piosenki.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Plik 1" field=form.score1 %}
            {% include "components/forms/table_field.html" with name="Plik 2" field=form.score2 %}
            {% include "components/forms/table_field.html" with name="Plik 3" field=form.score3 %}
          </table>
        </div>
        <div class="section">
          <h1>Dodatkowe informacje</h1>
          <div class="alert alert-info" role="alert">
            Wszystkie pola w tej sekcji są opcjonalne.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Tytuł oryginalny" field=form.original_title %}
            {% include "components/forms/table_field.html" with name="Link do nagrania na YouTube" field=form.link_youtube %}
          </table>
        </div>
        {% include "components/forms/add.html" with item=object %}
      </div>
    </div>
  </form>

  <div id="lyrics-format-description" style="padding-top: 20px; padding-bottom: 20px;"></div>
  {% include "songs/lyrics_format_description.html" %}
</div>
{% endblock content %}
