{% extends "songs/base.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}Śpiewnik piosenek {{ name }} - teksty i akordy{% endblock title %}
{% block description %}Śpiewnik zawiera teksty i akordy do piosenek - artysta: {{ artist }}.{% endblock description %}

{% block content %}
<div class="container">
  <h2 class="remove-top-margin pzt-artist-heading">
    {{ name }}
  </h2>
  <p class="lifetime">
    {% if born_on %} ur. <b>{{ born_on }}</b>{% endif %}{% if born_on and died_on %},{% endif %}
    {% if died_on %} zm. <b>{{ died_on }}</b> {% endif %}
  </p>
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <h2 class="pzt-card-title">Piosenki</h2>
        <ul class="list-unstyled">
          {% for song in songs %}
          <li><a href="{{ song.get_absolute_url }}">{{ song.title|truncatechars:50 }}
            {% if song.num_notes == 1 %}
            {% include 'components/icon.html' with type='tag' %}
            {% elif song.num_notes > 1 %}
            {% include 'components/icon.html' with type='tags' %}
            {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      {% for note in notes %}
      {% include "content/note.html" with note=note %}
      {% endfor %}

      {% if epigone_songs %}
      <div class="section">
        <h2 class="pzt-card-title">Kompozycje epigońskie</h2>
        <p style="text-align: center">
          <ul class="list-unstyled">
            {% for song in epigone_songs %}
            <li><a href="{{ song.get_absolute_url }}">{{ song.title }}
              {% if song.num_notes == 1 %}
              {% include 'components/icon.html' with type='tag' %}
              {% elif song.num_notes > 1 %}
              {% include 'components/icon.html' with type='tags' %}
              {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <hr />
  {% include "songs/menu.html" %}
</div>

{% endblock content %}
