{% extends "songs/base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}Śpiewnik piosenek {{ artist }} - teksty i akordy{% endblock title %}
{% block description %}Śpiewnik zawiera teksty i akordy do piosenek - artysta: {{ artist }}.{% endblock description %}

{% block content %}
<h1>
  {{ artist }}
  {% include "components/content_status_span.html" with item=artist %}
</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <h1>Piosenki</h1>
        <ul class="list-unstyled">
          {% for song in songs %}
          <li><a href="{{ song.get_absolute_url }}">{{ song|truncatechars:50 }}</a>
            {% include "components/content_status_span.html" with item=song %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="section">
        <h1>{{ artist }}</h1>
        {% if artist.image %}
        <div class="thumbnail-host">
          <img src="{{ artist.image|thumbnail_url:'imagethumb'}}" class="annotation-image img-responsive"/>
        </div>
        {% if artist.image_source %}
        <p style="text-align: right;">
          <small><b>Źródło zdjęcia</b>: {{artist.image_source}}</small>
        </p>
        {% endif %}
        {% endif %}
        {% if artist.description_html %}
          {{ artist.description_html|safe }}
        {% endif %}
        {% if artist.website %}
        <p style="text-align: right;">
          <a href="{{ artist.website }}" target="_blank">strona internetowa
            <small><span class="glyphicon glyphicon-new-window"></span></small>
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <hr />
  {% include "songs/menu.html" %}
</div>

{% endblock content %}
