{% extends "songs/base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}Śpiewnik piosenek {{ artist }} - teksty i akordy{% endblock title %}
{% block description %}Śpiewnik zawiera teksty i akordy do piosenek - artysta: {{ artist }}.{% endblock description %}

{% block content %}
<h1>
  {{ artist }}
  {% include "components/content_status_span.html" with item=artist %}
</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <h1>Piosenki</h1>
        <ul class="list-unstyled">
          {% for song in songs %}
          <li><a href="{{ song.get_absolute_url }}">{{ song|truncatechars:50 }}</a>
            {% include "components/content_status_span.html" with item=song %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="section">
        <h1>{{ artist }}</h1>
        {% if artist.image %}
        <div class="thumbnail-host">
          <img src="{{ artist.image|thumbnail_url:'imagethumb'}}" class="annotation-image img-responsive"/>
        </div>
        {% endif %}

        {% if artist.description_html %}
          {{ artist.description_html|safe }}
        {% endif %}
        <small>
          <ul class="list-unstyled">
            {% if artist.image and artist.image_author %}
            <li>
              <b>autor zdjęcia</b>: {{artist.image_author}}
            </li>
            {% endif %}
            {% if artist.image and artist.image_url %}
            <li>
              <b>źródło zdjęcia</b>:
              <a href="{{ artist.image_url }}" target="_blank">{{ artist.image_url }}
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </li>
            {% endif %}
            {% if artist.website %}
            <li>
              <b>strona internetowa</b>
              <a href="{{ artist.website }}" target="_blank">{{ artist.website }}
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </li>
            {% endif %}
          </small>
        </p>
      </div>

      {% for note in notes %}
      {% include "content/note.html" with note=note %}
      {% endfor %}

      {% if user.is_authenticated and perms.songs.contribute_artist_note %}
      <div class="section">
        <h1>Dodaj adnotację</h1>
        <p style="text-align: center">
        <a href="{{ artist.get_add_note_url }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </p>
      </div>
      {% endif %}

    </div>
  </div>
  <hr />
  {% include "songs/menu.html" %}
</div>

{% endblock content %}
