{% extends "songs/base.html" %}

{% load thumbnail %}
{% load list_partition %}

{% block title %}Piosenki{% endblock title %}
{% block description %}Śpiewnik, opracowania i interpretacje piosenek.{% endblock description %}

{% block content %}
<div class="container">
  {% for row in hero_artists|columns_horizontal:"3" %}
  <div class="row">
    {% for artist in row %}
    <div class="col-md-4">
      <div class="section">
        <a href="{{artist.get_absolute_url}}">
          <div class="thumbnail-host">
            <img src="{{artist.image_thumb}}" class="pzt-article-thumb" />
            <div class="thumbnail-caption">
              <h2>{{artist.name}}
              </h2>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  {% include "songs/menu.html" %}
</div>
{% endblock content %}
