{% extends "base.html" %}

{% load list_partition %}

{% block title %}Śpiewnik piosenek {{ entity }} - teksty i akordy{% endblock title %}
{% block description %}Śpiewnik zawiera teksty i akordy do piosenek - artysta: {{ entity }}.{% endblock description %}

{% block content %}
{% include "songs/top.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ entity }}</h1>

        <div class="row">
          {% for row in songs|rows:2 %}
          <div class="col-md-6">
            <ul class="list-unstyled">
              {% for song in row %}
              <li><a href="{{ song.get_absolute_url }}">{{ song|truncatechars:50 }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
      <hr />
    </div>
  </div>
  {% include "songs/menu.html" %}
</div>

{% endblock content %}
