{% extends "base-next.html" %}

{% block title %}{{ title }}{% endblock title %}
	
{% load dxpartition %}
	
{% block content %}

{% include "songs/top.html" %}



<div class="container">
    <div class="row">
        <div class="span12">


        	<h3 class="remove-top-margin">{{ title }}</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="span6">
            <table width="100%">
            {% for entry in songs|rows:2|first %}
                
                {% if artist %}
                        <tr><td><a href="/spiewnik/{{artist.slug}}/{{entry.song.slug}}" {% if not entry.song.published %}style="color: gray;"{% endif %}>{{ entry.song|truncatechars:42 }}</a></td></tr>
                {% else %}
                        <tr><td><a href="{{entry.song.get_absolute_url}}" {% if not entry.song.published %}style="color: gray;"{% endif %}>{{ entry.song|truncatechars:42 }}</a></td></tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
        <div class="span6">
            <table width="100%">
            {% for entry in songs|rows:2|last %}
                
                {% if artist %}
                        <tr><td><a href="/spiewnik/{{artist.slug}}/{{entry.song.slug}}" {% if not entry.song.published %}style="color: gray;"{% endif %}>{{ entry.song|truncatechars:42 }}</a></td></tr>
                {% else %}
                        <tr><td><a href="{{entry.song.get_absolute_url}}" {% if not entry.song.published %}style="color: gray;"{% endif %}>{{ entry.song|truncatechars:42 }}</a></td></tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>

        	

    </div>
</div>

{% include "songs/menu.html" %}

{% endblock content %}

