{% extends "base-next.html" %}

{% block title %}{{ entity }}{% endblock title %}

{% load dxpartition %}

{% block content %}

{% include "songs/top.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ entity }}</h1>

        {% if songs %}
        <table width="100%" class="vtop">
          <tr><th width="50%"></th><th width="50%"></th></tr>
          <tr>
            {% for row in songs|rows:2 %}
            <td>
              <ul class="unstyled">
                {% for song in row %}
                <li><a href="{% url song entity.slug song.slug %}" {% if not song.published %}style="color: gray;"{% endif %}>{{ song|truncatechars:50 }}</a>
                </li>
                {% endfor %}
              </ul>
            </td>
            {% endfor %}               
          </tr>
        </table>
        {% endif %}

      </div>
      <hr />
    </div>
  </div>    	
  {% include "songs/menu.html" %}
</div>

{% endblock content %}
