<div class="row">
  <div class="col-md-6">
    <pre>
#zwrotka
Ta pierwsza morska podróż do Australii! [D G]
Łotry przy burtach, prostytutki w kojach [D A]
Wszyscy się bali, łkali i rzygali [D G]
W drodze do raju. Przewrotności Twoja [D A]
Panie, coś w jeszcze nam nieznanych planach [h e]
Miał czarne diabły strzegące wybrzeży [h fis]
Edenu, który przeznaczyłeś dla nas [G A D]
A w który nikt, prawdę mówiąc, nie wierzył! [G A h (G D A)]

@zwrotka
Czym żeśmy, marni, zasłużyli na to?
Ten, co zawisnąć miał za kradzież płaszcza
Płakał nad swoją niechybną zatratą
Nie widział Ciebie w robaczywych masztach
Statku, co tylko był więzieniem nowym
Tej, co kupczyła ciałami swych dziatek
Ani przez mgnienie nie przyszło do głowy
Że to nadziei - nie rozpaczy statek
</pre>
  </div>
  <div class="col-md-6">
    <div class="lyrics">
      <div class="lyrics-content">

        <div class="paragraph">
          <table>

            <tr>
              <td>Ta pierwsza morska podróż do Australii!</td>
              <td class="chord-section">
                <span class="chords">
                  D G
                </span>
              </td>
            </tr>

            <tr>
              <td>Łotry przy burtach, prostytutki w kojach</td>
              <td class="chord-section">
                <span class="chords">
                  D A
                </span>
              </td>
            </tr>

            <tr>
              <td>Wszyscy się bali, łkali i rzygali</td>
              <td class="chord-section">
                <span class="chords">
                  D G
                </span>
              </td>
            </tr>

            <tr>
              <td>W drodze do raju. Przewrotności Twoja</td>
              <td class="chord-section">
                <span class="chords">
                  D A
                </span>
              </td>
            </tr>

            <tr>
              <td>Panie, coś w jeszcze nam nieznanych planach</td>
              <td class="chord-section">
                <span class="chords">
                  h e
                </span>
              </td>
            </tr>

            <tr>
              <td>Miał czarne diabły strzegące wybrzeży</td>
              <td class="chord-section">
                <span class="chords">
                  h fis
                </span>
              </td>
            </tr>

            <tr>
              <td>Edenu, który przeznaczyłeś dla nas</td>
              <td class="chord-section">
                <span class="chords">
                  G A D
                </span>
              </td>
            </tr>

            <tr>
              <td>A w który nikt, prawdę mówiąc, nie wierzył!</td>
              <td class="chord-section">
                <span class="chords">
                  G A h (G D A)
                </span>
              </td>
            </tr>

          </table>
        </div>

        <div class="paragraph">
          <table>

            <tr>
              <td>Czym żeśmy, marni, zasłużyli na to?</td>
              <td class="chord-section">
                <span class="chords">
                  D G
                </span>
              </td>
            </tr>

            <tr>
              <td>Ten, co zawisnąć miał za kradzież płaszcza</td>
              <td class="chord-section">
                <span class="chords">
                  D A
                </span>
              </td>
            </tr>

            <tr>
              <td>Płakał nad swoją niechybną zatratą</td>
              <td class="chord-section">
                <span class="chords">
                  D G
                </span>
              </td>
            </tr>

            <tr>
              <td>Nie widział Ciebie w robaczywych masztach</td>
              <td class="chord-section">
                <span class="chords">
                  D A
                </span>
              </td>
            </tr>

            <tr>
              <td>Statku, co tylko był więzieniem nowym</td>
              <td class="chord-section">
                <span class="chords">
                  h e
                </span>
              </td>
            </tr>

            <tr>
              <td>Tej, co kupczyła ciałami swych dziatek</td>
              <td class="chord-section">
                <span class="chords">
                  h fis
                </span>
              </td>
            </tr>

            <tr>
              <td>Ani przez mgnienie nie przyszło do głowy</td>
              <td class="chord-section">
                <span class="chords">
                  G A D
                </span>
              </td>
            </tr>

            <tr>
              <td>Że to nadziei - nie rozpaczy statek</td>
              <td class="chord-section">
                <span class="chords">
                  G A h (G D A)
                </span>
              </td>
            </tr>

          </table>
        </div>

      </div>

    </div> <!-- lyrics -->
  </div>
</div> <!-- row -->