<div class="lyrics-content">
{% for paragraph in lyrics %}
<div class="paragraph">
  <table>
  {% for line in paragraph %}
  <tr>
    <td{% if line.2 %} class="indented"{% endif %}>{{ line.0 }}</td>
    <td class="chord-section">
      {% if line.1 %}
      <span class="chords chords-t0">{{ line.1.0 }}</span>
      <span class="chords chords-t1">{{ line.1.1 }}</span>
      <span class="chords chords-t2">{{ line.1.2 }}</span>
      <span class="chords chords-t3">{{ line.1.3 }}</span>
      <span class="chords chords-t4">{{ line.1.4 }}</span>
      <span class="chords chords-t5">{{ line.1.5 }}</span>
      <span class="chords chords-t6">{{ line.1.6 }}</span>
      <span class="chords chords-t7">{{ line.1.7 }}</span>
      <span class="chords chords-t8">{{ line.1.8 }}</span>
      <span class="chords chords-t9">{{ line.1.9 }}</span>
      <span class="chords chords-t10">{{ line.1.10 }}</span>
      <span class="chords chords-t11">{{ line.1.11 }}</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endfor %}
</div>
