<div class="row">
  <div class="col-md-6">
    <pre>
Jeszcze w zasięgu dłoni zegar - jeszcze wcześnie [d C a d]
Pewności siebie ruch wskazówki nie odbiera [d C A]
Wzrok - lustro duszy - widzi wszystko nawet we śnie [d C a d]
Któremu spokój niesie Cyfra i Litera [d A]

&gt;Tyle zrobili już, jak na swe młode lata [D G D]
&gt;Ulega dziejów wosk ich nieomylnym śladom [D G A]
&gt;To George de Selve - obiecujący dyplomata [A h Fis G]
&gt;I Jean de Dinteville - francuski ambasador [G D A D G (D)]
</pre>
  </div>
  <div class="col-md-6">
    <div class="lyrics">
      <div class="lyrics-content">

        <div class="paragraph">
          <table>

            <tr>
              <td>Jeszcze w zasięgu dłoni zegar - jeszcze wcześnie</td>
              <td class="chord-section">
                <span class="chords">
                  d C a d
                </span>
              </td>
            </tr>

            <tr>
              <td>Pewności siebie ruch wskazówki nie odbiera</td>
              <td class="chord-section">
                <span class="chords">
                  d C A
                </span>
              </td>
            </tr>

            <tr>
              <td>Wzrok - lustro duszy - widzi wszystko nawet we śnie</td>
              <td class="chord-section">
                <span class="chords">
                  d C a d
                </span>
              </td>
            </tr>

            <tr>
              <td>Któremu spokój niesie Cyfra i Litera</td>
              <td class="chord-section">
                <span class="chords">
                  d A
                </span>
              </td>
            </tr>

          </table>
        </div>

        <div class="paragraph">
          <table>

            <tr>
              <td class="indented">Tyle zrobili już, jak na swe młode lata</td>
              <td class="chord-section">
                <span class="chords">
                  D G D
                </span>
              </td>
            </tr>

            <tr>
              <td class="indented">Ulega dziejów wosk ich nieomylnym śladom</td>
              <td class="chord-section">
                <span class="chords">
                  D G A
                </span>
              </td>
            </tr>

            <tr>
              <td class="indented">To George de Selve - obiecujący dyplomata</td>
              <td class="chord-section">
                <span class="chords">
                  A h Fis G
                </span>
              </td>
            </tr>

            <tr>
              <td class="indented">I Jean de Dinteville - francuski ambasador</td>
              <td class="chord-section">
                <span class="chords">
                  G D A D G (D)
                </span>
              </td>
            </tr>

          </table>
        </div>

      </div>

    </div> <!-- lyrics -->
  </div>
</div> <!-- row -->