<div class="row">
  <div class="col-md-4">
    <div class="section">
      <h1>Wykonawcy własnych tekstów</h1>
      <ul class="list-unstyled">
        {% for person in bards %}
        <li><a href="/spiewnik/{{person.slug}}" title="{{person}}">{{ person }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Zespoły</h1>
      <ul class="list-unstyled">
        {% for band in bands %}
        <li><a href="/spiewnik/{{band.slug}}" title="{{band}}">{{ band }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="section">
      <h1>Kompozytorzy</h1>
      <ul class="list-unstyled">
        {% for person in composers %}
        <li><a href="/spiewnik/{{person.slug}}" title="{{person}}">{{ person }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Twórcy zagraniczni</h1>
      <ul class="list-unstyled">
        {% for person in foreigners %}
        <li><a href="/spiewnik/{{person.slug}}" title="{{person}}">{{ person }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>
