<div class="row">
  <div class="col-md-4">
    <div class="section">
      <h1>Twórcy polscy</h1>
      <ul class="list-unstyled">
        {% for artist in polish %}
        <li>
          <a href="{{ artist.get_absolute_url }}" title="{{artist}}">{{ artist }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Twórcy zagraniczni</h1>
      <ul class="list-unstyled">
        {% for artist in foreign %}
        <li>
          <a href="{{ artist.get_absolute_url }}" title="{{artist}}">{{ artist }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Epigoni, wykonawcy, środowisko piosenki literackiej</h1>
      <ul class="list-unstyled">
        {% for artist in community %}
        <li>
          <a href="{{ artist.get_absolute_url }}" title="{{artist}}">{{ artist }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
