<div class="row">
  <div class="col-md-12">
    <div class="section">
      <h2 class="pzt-card-title">Uwagi</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-info" role="alert">
            <p>Dobra adnotacja wzbogaca odbiór utworu przez wskazanie
              obiektywnych informacji o jego kontekście. Przykładowym tematem
              adnotacji mogą być:
            </p>
            <ul>
              <li><b>nawiązania</b> - n.p. znaczenie roku 1788 lub
                określenia "francuska choroba" w piosence 1788.</li>
              <li><b>okoliczności powstania</b> - n.p. anegdota o piosence
                "Czołg", pisanej wg nigdy nie powstałej piosenki
                Wysockiego.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-warning" role="alert">
            <p>Unikaj dodawania adnotacji niewiele wnoszących lub subiektywnych:
            </p>
            <ul>
              <li>informacje które mogłyby odnosić się do <b>wielu piosenek</b></li>
              <li>data lub miejsce powstania, jeśli nie ma istotnego wpływu na utwór i
                nie jest opatrzona komentarzem</li>
              <li><b>oceny</b> "jakości" czy wagi piosenki</li>
            </ul>
            <p>Nie opisuj <b>wskazówek odnośnie grania</b> danej piosenki.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
