    <h1>{{ song.title }}</h1>
	{% if song.disambig.count > 0 %}
		<h4 align="center">{{song.disambig}}</h4>
	{% endif %}
	
	<table width="100%">
	<tr><td valign="top" width="60%">
	
	{% if song.original_title %}
	<b>Tytuł oryginalny: </b>
	<i>{{ song.original_title }}</i>
	<br />
	{% endif %}
	

	<b>Tekst: </b>
	{% for contribution in textContributions %}
		<a href="{{contribution.artist.get_absolute_url}}">{{ contribution.artist }}</a>
	{% endfor %}
	<br />
	
	{% if translationContributions.count > 0 %}
		<b>Tłumaczenie: </b>
		{% for contribution in translationContributions %}
			<a href="{{contribution.artist.get_absolute_url}}">{{ contribution.artist }}</a>
		{% endfor %}
		<br />
	
	{% endif %}
	
	<b>Muzyka: </b>
	{% for contribution in musicContributions %}
		<a href="{{contribution.artist.get_absolute_url}}">{{ contribution.artist }}</a>
	{% endfor %}
	<br />
	
	<b>Wykonanie: </b>
	{% for contribution in performanceContributions %}
		<a href="{{contribution.artist.get_absolute_url}}">{{ contribution.artist }}</a>
	{% endfor %}
	{% for contribution in bandContributions %}
		<a href="{{contribution.band.get_absolute_url}}">{{ contribution.band }}</a>
	{% endfor %}
	<br />

	{% if capo != "~" %}
    <b>Kapodaster: </b>
    {{ capo }}
    <br />
	{% endif %}


	</td>
	<td valign="top" width="40%">
	{% if triggers %}
		<table>
			<tr>
				<td><b>Transponuj: </b></td>
				<td class="indented">
					<a href="{{ url }}?t={{trans_up}}" title="Półton w górę">
						<img src="{{STATIC_URL}}images/icons/up.png" style="display: inline; vertical-align: middle;"/>
					</a>
	    			<a href="{{ url }}?t=0" title="Zapis oryginalny">
	    				<img src="{{STATIC_URL}}images/icons/home.png" style="display: inline; vertical-align: middle;"/>
	    			</a>
	    			<a href="{{ url }}?t={{trans_down}}" title="Półton w dół">
	    				<img src="{{STATIC_URL}}images/icons/down.png" style="display: inline; vertical-align: middle;"/>
	    			</a>
	    		</td>
			</tr>
			{% if extra %}
			<tr>
				<td><b>Powtórz: </b></td>
				<td class="indented"><span class="extra-chords-trigger" title="Pokaż / ukryj powtórzone akordy"><img src="{{STATIC_URL}}images/icons/gears.png" style="display: inline; vertical-align: middle;"/></span></td>
			</tr>
			{% endif %}
	    </table>
	{% endif %}
	
	</td></tr>
	</table>
	
	<br />
	
	<blockquote>
	{{ lyrics|safe }}
	</blockquote>
