{% extends "songs/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ title }} - tekst i akordy{% endblock title %}
{% block description %}Opracowanie piosenki {{ song.title }} w śpiewniku Piosenki z tekstem{% endblock description %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <div class="content">
          <h1>{{ title }}</h1>

          <div class="row song-header">
            <div class="col-md-6">
              <div class="song-info">
                {% if original_title %}
                <p><b>Tytuł oryginalny:</b> <i>{{ original_title }}</i></p>
                {% endif %}

                {% if text_authors %}
                <p><b>Tekst:</b>
                {% include "songs/artist_list.html" with artists=text_authors %}
                </p>
                {% endif %}

                {% if composers %}
                <p><b>Muzyka:</b>
                {% include "songs/artist_list.html" with artists=composers %}
                </p>
                {% endif %}

                {% if translators %}
                <p><b>Tłumaczenie:</b>
                {% include "songs/artist_list.html" with artists=translators %}
                </p>
                {% endif %}

                {% if performers %}
                <p><b>Wykonanie:</b>
                {% include "songs/artist_list.html" with artists=performers %}
                </p>
                {% endif %}

                {% if capo_fret %}
                <p><b>Kapodaster:</b> {{ capo_fret }} </p>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="song-gadget hidden-print">
                <div class="gadget-row">
                  <button type="button" class="btn btn-sm btn-default trans-up-trigger">
                    <span class="glyphicon glyphicon-arrow-up" title="półton w górę"></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-default trans-home-trigger">
                    <span class="glyphicon glyphicon-home" title="zapis oryginalny"></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-default trans-down-trigger">
                    <span class="glyphicon glyphicon-arrow-down" title="półton w dół"></span>
                  </button>
                  <span data-toggle="tooltip" data-placement="right" title="Transponuj
                  akordy w górę lub w dół." class="tip">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </span>
                </div>

                <div class="gadget-row">
                  <button type="button" class="btn btn-primary btn-sm chords-trigger chords-normal-trigger">
                    <span class="glyphicon glyphicon-music" title="wyświetl akordy"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-sm chords-trigger chords-none-trigger">
                    <span class="glyphicon glyphicon-font" title="tylko tekst"></span>
                  </button>
                  <span data-toggle="tooltip" data-placement="right" title="Wyświetl lub ukryj akordy." class="tip">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="lyrics">
            {{ content_html|safe }}
          </div>

          {% include "components/content_foot.html" with action="Dodane" %}
        </div>
      </div>
    </div>

    <div class="col-md-4 hidden-print">
      <!--
      <div class="section">
        <h2 class="pzt-card-title">Zrzutka na serwery 2025</h2>
        <div style="position: relative; width: 100%; height: 400px; overflow: hidden;">
          <iframe style="position: absolute; top:0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;"
                  src="https://zrzutka.pl/zvr76k/widget/13" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      -->

      {% if youtube_id %}
      <div class="section">
        <h2 class="pzt-card-title">Nagranie</h2>
        <iframe src="https://www.youtube.com/embed/{{youtube_id}}" class="pzt-max-width" frameborder="0" allowfullscreen></iframe>
      </div>
      {% endif %}

      {% for note in notes %}
      {% include "content/note.html" with note=note %}
      {% endfor %}

      {% if score1_thumb or score2_thumb or score3_thumb %}
      <div class="section">
        <h2 class="pzt-card-title">Nuty</h2>
        {% if score1_thumb %}
        <div class="pzt-thumbnail thumbnail-host">
          <a href="{{ score1_full }}" class="pzt-lightbox">
            <img src="{{ score1_thumb }}" />
          </a>
        </div>
        {% endif %}	

        {% if score2_thumb %}
        <div class="pzt-thumbnail thumbnail-host">
          <a href="{{ score2_full }}" class="pzt-lightbox">
            <img src="{{ score2_thumb }}" />
          </a>
        </div>
        {% endif %}	

        {% if score3_thumb %}
        <div class="pzt-thumbnail thumbnail-host">
          <a href="{{ score3_full }}" class="pzt-lightbox">
            <img src="{{ score3_thumb }}" />
          </a>
        </div>
        {% endif %}	
      </div>
      {% endif %}

    </div>
  </div>
  {% include "base/rows/disqus.html" with disqus_id=song.slug %}
</div>
{% endblock content %}
