<!DOCTYPE HTML> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Piosenka z tekstem - {{ song.title }} - wersja do druku</title>
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Gentium+Basic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="index" title="Piosenka z tekstem" href="http://www.piosenkaztekstem.pl" />
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-23138480-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>

<body>
<table width="550"><tr><td>
{% include 'songs/song_common.html' %}
</td></tr>
<tr><td><center><b>www.piosenkaztekstem.pl</b></center></td></tr>
</table>
</body>
</html>
