{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ song.title }}{% endblock title %}

{% load thumbnail %}

{% block description %}Opracowanie piosenki {{song.title}}{% endblock description %}

{% block content %}
{% include "songs/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1 class="remove-top-margin">{{ song }}</h1>

        <div class="row">
          <div class="col-md-6">
            {% if song.original_title %}
            <b>Tytuł oryginalny: </b>
            <i>{{ song.original_title }}</i>
            <br />
            {% endif %}

            {% if song.text_authors %}
            <b>Tekst: </b>
            {% for author in song.text_authors %}
            <a href="{{author.get_absolute_url}}">{{ author }}</a>
            {% endfor %}
            <br />
            {% endif %}

            {% if song.composers %}
            <b>Muzyka: </b>
            {% for composer in song.composers %}
            <a href="{{composer.get_absolute_url}}">{{ composer }}</a>
            {% endfor %}
            <br />
            {% endif %}

            {% if song.translators %}
            <b>Tłumaczenie: </b>
            {% for translator in song.translators %}
            <a href="{{translator.get_absolute_url}}">{{ translator }}</a>
            {% endfor %}
            <br />
            {% endif %}

            {% if song.performers %}
            <b>Wykonanie: </b>
            {% for performer in song.performers %}
            <a href="{{performer.get_absolute_url}}">{{ performer }}</a>
            {% endfor %}
            <br />
            {% endif %}

            {% if song.capo %}
            <b>Kapodaster: </b>
            {{ song.capo }}
            <br />
            {% endif %}
          </div>
          <div class="col-md-6">
            <table class="song-gadget hidden-print">
              <tr>
                <td><b>Transponuj: </b></td>
                <td class="indented">
                  <button type="button" class="btn btn-sm btn-default">
                  <a href="{{ url }}?t={{trans_up}}" title="Półton w górę">
                    <span class="glyphicon glyphicon-arrow-up" title="Wszystkie akordy"></span>
                  </a>
                  </button>
                  <button type="button" class="btn btn-sm btn-default">
                  <a href="{{ url }}?t=0" title="Zapis oryginalny">
                    <span class="glyphicon glyphicon-home" title="Wszystkie akordy"></span>
                  </a>
                  </button>
                  <button type="button" class="btn btn-sm btn-default">
                  <a href="{{ url }}?t={{trans_down}}" title="Półton w dół">
                    <span class="glyphicon glyphicon-arrow-down" title="Wszystkie akordy"></span>
                  </a>
                  </button>
                </td>
              </tr>
              {% if extra %}
              <tr>
                <td><b>Akordy: </b></td>
                <td class="indented">
                  <button type="button" class="btn btn-primary btn-sm chords-trigger chords-normal-trigger">
                    <span class="glyphicon glyphicon-music" title="{% if extra %}Podstawowe akordy{% else %}Tekst i akordy{% endif %}"></span>
                  </button>
                  {% if extra %}
                  <button type="button" class="btn btn-default btn-sm chords-trigger chords-repeated-trigger">
                    <span class="glyphicon glyphicon-repeat" title="Wszystkie akordy"></span>
                  </button>
                  {% endif %}
                  <button type="button" class="btn btn-default btn-sm chords-trigger chords-none-trigger">
                    <span class="glyphicon glyphicon-font" title="Tylko tekst"></span>
                  </button>
                </td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>

        <br />

        <blockquote class="custom-blockquote">
          {{ lyrics|safe }}
        </blockquote>
      </div>
    </div>

    <div class="col-md-4 hidden-print">
      <div class="customwell auxwell">
        <h1>Wersja do druku</h1>
        <ul class="list-unstyled">
          <li><a href="javascript:window.print()" title="wersja do druku - tylko tekst">Drukuj</a></li>
        </ul>
        <p><small>Opracowanie zostanie wydrukowane w wybranej tonacji, bez
        nagłówka i bocznego menu. Twoja przeglądarka pozwoli dostosować
        parametry przed rozpoczęciem drukowania.</small></p>
      </div>

      {% if song.score1 or song.score2 or song.score3 %}
      <div class="customwell auxwell">
        <h1>Nuty</h1>
        {% if song.score1 %}
        <center><a href="{{song.score1.url}}"><img src='{{ song.score1|thumbnail_url:'scorethumb' }}'/></a></center><br />
        {% endif %}	
        {% if song.score2 %}
        <center><a href="{{song.score2.url}}"><img src='{{ song.score2|thumbnail_url:'scorethumb' }}'/></a></center><br />
        {% endif %}	
        {% if song.score3 %}
        <center><a href="{{song.score3.url}}"><img src='{{ song.score3|thumbnail_url:'scorethumb' }}'/></a></center><br />
        {% endif %}	
      </div>
      {% endif %}

      {% if song.external_links %}
      <div class="customwell auxwell">
        <h1>Linki</h1>
        <ul class="list-unstyled">
          {% for link in song.external_links %}
          <li><a href="{{link.1}}" target="_blank">{{link.0}}</a></li>
          {% endfor %}
        </ul> 
      </div>  
      {% endif %}

      {% include "base/wells/like.html" with like_what="piosenkę" %}

      {% if song.related_songs.count %}
      <div class="customwell auxwell">
        <h1>Powiązane piosenki</h1>
        <ul class="list-unstyled">
          {% for related_song in song.related_songs.all %}
          <li><a href="{{related_song.get_absolute_url}}">{{related_song}}</a></li>
          {% endfor %}
        </ul> 
      </div>  
      {% endif %}

      {% if user.is_staff %}
      <div class="customwell auxwell">
        <h1>Administracja</h1>
        <ul class="list-unstyled">
          {% if song.original_song %}
          <li><a href="/admin/songs/translation/{{song.id}}/">Edytuj tłumaczenie</a></li>
          {% else %}
          <li><a href="/admin/songs/song/{{song.id}}/">Edytuj piosenkę</a></li>
          {% endif %}
        </ul> 
      </div> 
      {% endif %}
    </div>
  </div>
  {% include "base/rows/disqus.html" with disqus_id=song.slug %}
</div>
{% endblock content %}

{% block extra-scripts %}
<script src="{% static "scripts/trigger.js" %}?stamp=05"></script>
{% endblock extra-scripts %}
