    <div class="header not-for-print">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h2>Śpiewnik</h2>
                    <p>Próba zebrania w jednym miejscu wysokiej jakości opracowań; ze szczególnym uwzględnieniem materiałów wcześniej niedostępnych lub rozrzuconych w różnych miejscach Internetu i prywatnych zbiorach.</p>
                </div>
                <div class="span6 lead-quote">
                    <blockquote class="custom-blockquote">Mój rynsztok, mieszczańskie porządki mam gdzieś<br />
                        Te mordy obłudne i puste - pal sześć<br />
                        Wysyłam pijane toasty na świat<br />
                        I za tych popijam, co we mnie od lat
                      <small>Paweł Wójcik - <a href="/spiewnik/pawel-wojcik/toasty/">Toasty</a></small>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>