{% extends "events/base.html" %}

{% block title %}Dodaj odnośnik do wydarzenia na Facebooku{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="section">
        <h1>Dodaj odnośnik do wydarzenia na Facebooku</h1>
        <form action="{% url 'add_fb_event' %}" method="post">{% csrf_token %}
          <input name="fb_url" type="text" class="form-control" placeholder="np. https://www.facebook.com/events/123/" style="margin-bottom: 5px;"/>
          {{ form.fb_url.errors }}
          <input type="submit" value="Dodaj" style="width: 100%"/>
        </form>
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock content %}
