{% extends "base.html" %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <form action="{% url 'add_event' %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="customwell editwell">
          <h1>Wydarzenie</h1>
          <h2>Podstawowe informacje</h2>
          <table>
            <tr>
              <td><b>Nazwa:</b></td><td>{{ form.name }}</td>
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{ form.name.help_text }}" class="tip">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </span>
                {{ form.name.errors }}
              </td>
            </tr>

            <tr>
              <td><b>Dzień:</b></td><td>{{ form.date }}</td>
              <td>
                {{ form.date.errors }}
              </td>
            </tr>

            <tr>
              <td><b>Godzina:</b></td><td>{{ form.time }}</td>
              <td>
                {{ form.time.errors }}
              </td>
            </tr>
          </table>

          <h2>Opis</h2>

          {{ form.description }}

          {{ form.non_field_errors }}
          <input type="submit" value="Confirm" />

        </div>
      </div>
      <div class="col-md-6">
        <div class="customwell editwell">
          <h1>Miejsce</h1>
          {{ form.venue }}
          {{ form.venue.errors }}
          <table>
            <tr>
              <td><b>Nazwa:</b></td><td>{{ form.venue_name }}</td>
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{ form.venue_name.help_text }}" class="tip">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </span>
                {{ form.venue_name.errors }}
              </td>
            </tr>

            <tr>
              <td><b>Miasto:</b></td><td>{{ form.venue_town }}</td>
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{ form.venue_town.help_text }}" class="tip">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </span>
                {{ form.venue_town.errors }}
              </td>
            </tr>

            <tr>
              <td><b>Adres:</b></td><td>{{ form.venue_street }}</td>
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{ form.venue_street.help_text }}" class="tip">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </span>
                {{ form.venue_street.errors }}
              </td>
            </tr>
          </table>
        </div>
        <div class="customwell editwell">
          <h1>Dodatkowe informacje</h1>
          <table>
            <tr>
              <td><b>Ceny biletów:</b></td><td>{{ form.price }}</td>
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{ form.price.help_text }}" class="tip">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </span>
                {{ form.price.errors }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
