{% extends "events/base.html" %}
{% load pipeline %}

{% block title %}{% if event %}Edytuj wydarzenie: {{ event }}{% else %}Dodaj wydarzenie{% endif %}{% endblock title %}

{% block extra-css %}
{% stylesheet 'sirtrevor' %}
{% endblock %}

{% block extra-scripts %}
{% javascript 'sirtrevor' %}

<script>
$(document).ready(function(){
  $("#trigger-new-venue").click(function() {
    $("#new-venue").show();
    $("#id_venue_selection")[0].selectedIndex = 0;
  });

  $("#id_venue_selection").change(function() {
    if ($("#id_venue_selection")[0].selectedIndex != 0) {
      $("#new-venue").hide();
      $("#new-venue input").val("");
    }
  });

  if ($("#id_venue_name").val() != "" || $("#id_venue_town").val() != "" || $("#id_venue_street").val() != "") {
    $("#new-venue").show();
  }
});
</script>

<script>
$(document).ready(function(){
    new SirTrevor.Editor({
      el: $('#id_description_trevor'),
      blockTypes: ["Text", "List"],
      defaultType: "Text",
    });
});
</script>

<script>
$('.tip').tooltip({});
</script>
{% endblock extra-scripts %}

{% block content %}
<div class="container main">
  <form action="{% if not object or not object.pk %}{% url 'add_event' %}{% else %}{{ object.get_edit_url }}{% endif %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="customwell auxwell">
          <h1>Wydarzenie</h1>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Nazwa" field=form.name %}
            {% include "components/forms/table_field.html" with name="Dzień" field=form.date %}
            {% include "components/forms/table_field.html" with name="Godzina" field=form.time %}
          </table>


          {{ form.non_field_errors }}

        </div>
        <div class="customwell auxwell">
          <h1>Opis</h1>
          <div class="alert alert-info" role="alert">
            Opisz dodawane wydarzenie <b>własnymi słowami</b>. Nie dodawaj
            tekstu skopiowanego z innych stron internetowych - obecność
            skopiowanych treści obniża pozycję PzT w wyszukiwarkach.
          </div>
          {{ form.description_trevor }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="customwell auxwell">
          <h1>Miejsce</h1>
          <div class="alert alert-info" role="alert">
            Jeśli miejsce jest już w bazie PzT wybierz je z listy. W przeciwnym
            wypadku wybierz 'Nowe miejsce' i wypełnij formularz. Miejsce
            zostanie dodane do bazy wraz z wydarzeniem.
          </div>
          {{ form.venue_selection }}
          <button type="button" id="trigger-new-venue">Nowe miejsce</button>
          {{ form.venue_selection.errors }}
          <div id="new-venue" style="display: none;">
            <table>
              {% include "components/forms/table_field.html" with name="Nazwa" field=form.venue_name %}
              {% include "components/forms/table_field.html" with name="Miasto" field=form.venue_town %}
              {% include "components/forms/table_field.html" with name="Adres" field=form.venue_street %}
            </table>
          </div>
        </div>
        <div class="customwell auxwell">
          <h1>Wystąpią</h1>
          {{ entityperformance.management_form }}

          {% if entityperformance.errors %}
          {%   for dict in entityperformance.errors %}
          {%     if dict %}
          <div class="alert alert-danger" role="alert">
            {%     for error in dict.values %}
            {{       error }}
            {%     endfor %}
          </div>
          {%     endif %}
          {%   endfor %}
          {% endif %}

          <table class="table table-condensed formset">
            <tr>
              <th> </th>
              <th><span class="glyphicon glyphicon-remove"></span></th>
            </tr>
            {% for form in entityperformance %}
            <tr>
              <td>{{ form.song }} {{ form.id }} {{ form.entity }}</td>
              <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="customwell auxwell">
          <h1>Dodatkowe informacje</h1>
          <div class="alert alert-info" role="alert">
            Wszystkie pola w tej sekcji są opcjonalne.
          </div>
          <table class="table table-condensed formtable">
            {% include "components/forms/table_field.html" with name="Ceny biletów" field=form.price %}
            {% include "components/forms/table_field.html" with name="Strona WWW" field=form.website %}
          </table>
        </div>
        {% include "components/forms/add.html" with item=object %}
      </div>
    </div>
  </form>
</div>
{% endblock content %}
