{% extends "base.html" %}

{% block header %}
<h2>Wydarzenia</h2>
<p>Informacje o koncertach, przeglądach, festiwalach i konferencjach poświęconych piosence literackiej.</p>
{% endblock header %}

{% block quote %}
<blockquote class="lyrics-quote">Każdy chce mieć i każdy tak czy owak ma<br /> 
Tę krótką chwilę między wejściem swym i wyjściem<br />
Każdy na jakimś instrumencie gra<br />
Choć nie każdego oklaskuje się rzęsiście<br />
<small>Jacek Kaczmarski – <a href="/opracowanie/jacek-kaczmarski-ze-sceny/">Ze sceny</a></small>
</blockquote>
{% endblock quote %}
