{% extends "bright.html" %}

{% block title %}Koncerty, przeglądy, festiwale{% endblock %}

{% block content %}
<h1>{% block header %}Wydarzenia{% endblock header %}</h1>

<h2>Chronologicznie</h2>
    {% for event in event_list %}
	    <div style="padding-left: 10px">
		    <span class="date">{{ event.datetime|date:"d.m.Y" }}, <b>{{ event.venue.town }}</b>, <a href="{{event.get_absolute_url}}">{{ event.name }}</a></span>
		  </div>
	{% endfor %}

<h2>Geograficznie</h2>
<script type="text/javascript">
//<![CDATA[
    var map_location;
    
    function savePosition_location(point)
    {
        var input = document.getElementById("id_location");
        input.value = point.lat().toFixed(6) + "," + point.lng().toFixed(6);
        map_location.panTo(point);
    }
    
    function load_location() {
        var point = new google.maps.LatLng(52.04, 19.28);

        var options = {
            zoom: 6,
            center: point,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            // mapTypeControl: true,
            // navigationControl: true
        };
        
        map_location = new google.maps.Map(document.getElementById("map_location"), options);

        {% for event in event_list %}
        
            var marker_{{forloop.counter}} = new google.maps.Marker({
                    map: map_location,
                    position: new google.maps.LatLng({{event.venue.location_lat}}, {{event.venue.location_lng}}),
                    draggable: false,
                    url: '{{event.get_absolute_url}}',
                    title: '{{event}}'
            
            });
            
            google.maps.event.addListener(marker_{{forloop.counter}}, 'click', function() {
      window.location.href = marker_{{forloop.counter}}.url;
    });
        {% endfor %}

    }
    
    $(document).ready(function(){
        load_location();
    });

//]]>
</script>
        <div id="map_location" style="width: 610px; height: 420px"></div>

{% endblock content %}

{% block rightmenu %}
	{% include "events/menu.html" %}
{% endblock rightmenu %}

