{% extends "events/base.html" %}

{% block title %}{{ event.name }} - wydarzenie{% endblock title %}
{% block description %}Opis wydarzenia {{ event.name }} w kalendarzu Piosenki z tekstem{% endblock description %}

{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="section">
        <div class="content">
          <h1>{{ event.name }}
            {% include "components/content_status_span.html" with item=event %}
          </h1>
          <table width="100%">
            <tr><td valign="top" width="60%">

                <b>Kiedy: </b>
                {{ event.datetime|date:"d.m.Y H:i" }}

                {% if event.performers %}
                <br />
                <b>Kto: </b>
                {% for performer in event.performers %}
                {{ performer }}
                {% endfor %}
                {% endif %}
                <br />
                {% if event.price %}
                <b>Ceny biletów: </b>
                {{ event.price }}
                <br />
                {% endif %}

                {% if event.website %}
                <b>Strona WWW: </b>
                <a href="{{event.website}}" target="_blank">link</a>
                <br />
                {% endif %}

              </td>
              <td valign="top" width="40%">
                {% if event.venue %}
                <a href="{{event.venue.get_absolute_url}}">{{event.venue.name}}</a><br />
                {{event.venue.street}}<br />
                {{event.venue.town}}<br />
                {% else %}
                {{event.address|linebreaksbr}}
                {% endif %}
              </td></tr>
          </table>

          <br />
          {{ event.description_html|safe }}

          {% include "components/content_foot.html" with action="Dodane" item=event %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% if event.venue.lat and event.venue.lon %}
      {% include "base/wells/place.html" with place=event.venue mark=event %}
      {% endif %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
