{% extends "base-next.html" %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="span8">
      <div class="customwell contentwell">
        <h1>{{event.name}}</h1>
        <table width="100%">
          <tr><td valign="top" width="60%">

              <b>Kiedy: </b>
              {{ event.datetime|date:"d.m.Y H:i" }}

              {% if event.artists.all or event.bands.all %}
              <br />
              <b>Kto: </b>
              {% for artist in event.artists.all %}
              {{artist}}
              {% endfor %}
              {% for band in event.bands.all %}
              {{band}}
              {% endfor %}
              {% endif %}
              <br />
              <b>Ceny biletów: </b>
              {{event.price}}


            </td>
            <td valign="top" width="40%">
              {% if event.venue %}
              <a href="{{event.venue.get_absolute_url}}">{{event.venue.name}}</a><br />
              {{event.venue.street}}<br />
              {{event.venue.town}}<br />
              {% else %}
              {{event.address|linebreaksbr}}
              {% endif %}
          </td></tr>
        </table>

        <br />
        {{ event.description_html|safe }}

      </div>
    </div>
    <div class="span4">
      {% include "base/wells/place.html" with place=event.venue mark=event %}

      {% if event.website %}
      <div class="customwell auxwell">
        <h1>Linki</h1>
        <ul class="unstyled">
          {% if event.website %}
          <li><a href="{{event.website}}" target="_blank">Źrodło informacji</a></li>
          {% endif %}
        </ul> 
      </div>
      {% endif %}

      {% include "base/wells/like.html" with like_what="wydarzenie" %}
      {% include "base/wells/manage.html" with item=event manage_what="wydarzenie" %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
