<span class="glyphicon glyphicon-calendar"></span>
{% if event.datetime %}
{{ event.datetime|date:"d.m.Y" }}, 
{% endif %}

{% if event.starts_on %}
{{ event.starts_on|date:"d.m.Y" }}, 
{% endif %}

{% if event.location %}
<b>{{ event.location }}</b>
{% endif %}

{% if event.external_source %}
<a href="{{ event.get_absolute_url }}" target="_blank">
  {{ event }}
  <span class="glyphicon glyphicon-new-window"></span>
</a>
{% else %}
<a href="{{ event.get_absolute_url }}">{{ event }}</a>
{% include "components/content_status_span.html" with item=event %}
{% endif %}
