{% extends "base.html" %}

{% block title %}{{ event }}{% endblock title %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1>{{event.name}}</h1>
        <table width="100%">
          <tr><td valign="top" width="60%">

              <b>Kiedy: </b>
              {{ event.datetime|date:"d.m.Y H:i" }}

              {% if event.artists.all or event.bands.all %}
              <br />
              <b>Kto: </b>
              {% for artist in event.artists.all %}
              {{artist}}
              {% endfor %}
              {% for band in event.bands.all %}
              {{band}}
              {% endfor %}
              {% endif %}
              <br />
              {% if event.price %}
              <b>Ceny biletów: </b>
              {{event.price}}
              <br />
              {% endif %}

              {% if event.website %}
              <b>Strona WWW: </b>
              <a href="{{event.website}}" target="_blank">link</a>
              <br />
              {% endif %}

            </td>
            <td valign="top" width="40%">
              {% if event.venue %}
              <a href="{{event.venue.get_absolute_url}}">{{event.venue.name}}</a><br />
              {{event.venue.street}}<br />
              {{event.venue.town}}<br />
              {% else %}
              {{event.address|linebreaksbr}}
              {% endif %}
          </td></tr>
        </table>

        <br />
        {{ event.description_html|safe }}

        {% include "base/content_foot.html" with action="Dodane" item=event %}
      </div>
    </div>
    <div class="col-md-4">
      {% include "base/wells/place.html" with place=event.venue mark=event %}

      {% include "base/wells/like.html" with like_what="wydarzenie" %}

      {% if can_edit %}
      <div class="customwell auxwell">
        <h1>Administracja</h1>
        <ul class="list-unstyled">
          <li><a href="{{ event.get_edit_url }}">Edytuj wydarzenie</a></li>
          <li><a href="{% url 'add_event' %}">Dodaj nowe wydarzenie</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
