{% extends "base.html" %}

{% block title %}{{ event.name }} - wydarzenie{% endblock title %}
{% block description %}Opis wydarzenia {{ event.name }} w kalendarzu Piosenki z tekstem{% endblock description %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1>{{ event.name }}</h1>
        <table width="100%">
          <tr><td valign="top" width="60%">

              <b>Kiedy: </b>
              {{ event.datetime|date:"d.m.Y H:i" }}

              {% if event.performers %}
              <br />
              <b>Kto: </b>
              {% for entity in event.performers %}
              <a href="{{ entity.get_gigs_url }}">{{ entity }}</a>
              {% endfor %}
              {% endif %}
              <br />
              {% if event.price %}
              <b>Ceny biletów: </b>
              {{event.price}}
              <br />
              {% endif %}

              {% if event.website %}
              <b>Strona WWW: </b>
              <a href="{{event.website}}" target="_blank">link</a>
              <br />
              {% endif %}

            </td>
            <td valign="top" width="40%">
              {% if event.venue %}
              <a href="{{event.venue.get_absolute_url}}">{{event.venue.name}}</a><br />
              {{event.venue.street}}<br />
              {{event.venue.town}}<br />
              {% else %}
              {{event.address|linebreaksbr}}
              {% endif %}
          </td></tr>
        </table>

        <br />
        {{ event.description_html|safe }}

        {% include "components/content_foot.html" with action="Dodane" item=event %}
      </div>
    </div>
    <div class="col-md-4">
      {% include "base/wells/place.html" with place=event.venue mark=event %}

      {% include "base/wells/like.html" with like_what="wydarzenie" %}

      {% include "components/manage.html" with item=event manage_what="wydarzenie" %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
