{% extends "events/base.html" %}

{% block title %}Koncerty, przeglądy, festiwale - nadchodzące wydarzenia{% endblock %}

{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <div class="section">
        <h1>Nadchodzące wydarzenia</h1>
        <ul class="list-unstyled">
          {% for event in events %}
          <li>
          {% include "events/event_link.html" with event=event %}
          </li>
          {% endfor %}
        </ul>
        <hr />
        <a href="{% url 'add_event' %}">Dodaj nowe wydarzenie</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="section">
        <h1>Mapa</h1>
        {% include "base/map.html" with map_width="458" map_height="275" map_center_lat="52.04" map_center_lng="19.28" map_zoom="5" marks=events %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
