{% extends "events/list.html" %}

{% block title %}Koncerty, przeglądy, festiwale - nadchodzące wydarzenia{% endblock %}

{% block content-header %}
<h1>Nadchodzące wydarzenia</h1>
{% endblock content-header %}

{% block content-footer %}
<hr />
<a href="{% url 'add_event' %}">Dodaj nowe wydarzenie</a>
{% endblock content-footer %}

{% block page-footer %}
<div class="row">
  <div class="col-md-4">
    <div class="section">
      <h1>Archiwum wydarzeń</h1>
      <ul class="list-unstyled">
        {% for year in years %}
        <li><a href="{% url "event_year" year=year %}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Popularne miejsca (wg liczby wydarzeń)</h1>
      <ul class="list-unstyled">
        {% for venue in popular_venues %}
        <li><a href="{{ venue.get_absolute_url }}">{{ venue }}</a> ({{ venue.event_count }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="section">
      <h1>Aktywni artyści (wg liczby wydarzeń)</h1>
      <ul class="list-unstyled">
        {% for performer in active_performers %}
        <li><a href="{{ performer.get_absolute_url }}">{{ performer }}</a>
            ({{ performer.event_count }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock page-footer %}
