{% extends "events/base.html" %}

{% block title %}Koncerty, przeglądy, festiwale – nadchodzące wydarzenia{% endblock %}

{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <div class="section">
        <h1>Nadchodzące wydarzenia</h1>
        <ul class="list-unstyled">
          {% for event in events %}
          <li>
          {% include "events/event_link.html" with event=event %}

          {% if user %}
          <a href="{{ event.get_edit_url }}">{% include 'components/icon.html' with type='pencil' %}</a>
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        <hr />
        <div>
          <a href="{% url 'add_external_event' %}">
            {% include 'components/icon.html' with type='plus' %}
            Dodaj nowe wydarzenie (odnośnik)
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="section">
        <h1>Mapa</h1>
        {% include "base/map.html" with map_width="458" map_height="275" map_center_lat="52.04" map_center_lng="19.28" map_zoom="5" marks=events %}
      </div>
      <div class="section">
        <h1>Polecamy i pozdrawiamy</h1>
        <table class="table table-striped">
        {% for performer in performers %}
        <tr>
        <td>{{ performer }}</td>
        <td>
        {% if performer.website %}
        <a href="{{ performer.website }}" target="_blank">strona internetowa
          {% include 'components/icon.html' with type='new-window' %}
        </a>
        {% endif %}
        {% if performer.fb_page_id %}
        <a href="https://www.facebook.com/{{performer.fb_page_id}}" target="_blank">Facebook
          {% include 'components/icon.html' with type='new-window' %}
        </a>
        {% endif %}
        </td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
