{% extends "events/base.html" %}

{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <div class="section">
        {% block content-header %}
        {% endblock content-header %}
        <ul class="list-unstyled">
          {% for event in events %}
          <li>
          {% include "events/event_link.html" with event=event %}
          </li>
          {% endfor %}
        </ul>
        {% block content-footer %}
        {% endblock content-footer %}
      </div>
    </div>
    {% if venue %}
      {% if venue.lat and venue.lon %}
    <div class="col-md-6">
      <div class="section">
        <h1>Mapa</h1>
        {% include "base/map.html" with map_width="280" map_height="210" map_center_lat=venue.lat map_center_lng=venue.lon map_zoom="12" mark=venue %}
      </div>
    </div>
      {% endif %}
    {% else %}
    <div class="col-md-6">
      <div class="section">
        <h1>Mapa</h1>
        {% include "base/map.html" with map_width="458" map_height="275" map_center_lat="52.04" map_center_lng="19.28" map_zoom="5" marks=events %}
      </div>
    </div>
    {% endif %}
  </div>
  {% block page-footer %}
  {% include "base/rows/disqus.html" %}
  {% endblock page-footer %}
</div>
{% endblock content %}
