{% extends "base.html" %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <div class="customwell auxwell">
        {% block content-header %}
        {% endblock content-header %}
        <ul class="list-unstyled">
          {% for event in events %}
          <li>
          <span class="date">{{ event.datetime|date:"d.m.Y" }}</span>, 
          <b>{{ event.venue.town }}</b>, 
          <a href="{{event.get_absolute_url}}">{{ event.name }}</a>
          {% include "components/content_status_span.html" with item=event %}
          </li>
          {% endfor %}
        </ul>
        {% block content-footer %}
        {% endblock content-footer %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="customwell auxwell">
        <h1>Mapa</h1>
        {% if venue %}
        {% include "base/map.html" with map_width="280" map_height="210" map_center_lat=venue.lat map_center_lng=venue.lon map_zoom="12" mark=venue %}
        {% else %}
        {% include "base/map.html" with map_width="458" map_height="275" map_center_lat="52.04" map_center_lng="19.28" map_zoom="5" marks=events %}
        {% endif %}
      </div>
    </div>
  </div>
  {% block page-footer %}
  {% include "base/rows/disqus.html" %}
  {% endblock page-footer %}
</div>
{% endblock content %}
