<div class="row">
  <div class="col-md-4">
    <div class="customwell auxwell">
      <h1>Archiwum wydarzeń</h1>
      <ul class="list-unstyled">
        {% for year in years %}
        <li><a href="{% url "event_year" year=year %}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="customwell auxwell">
      <h1>Popularne miejsca (wg liczby wydarzeń)</h1>
      <ul class="list-unstyled">
        {% for venue in popular_venues %}
        <li><a href="{{ venue.get_absolute_url }}">{{ venue }}</a> ({{ venue.event_count }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="customwell auxwell">
      <h1>Aktywni artyści (wg liczby wydarzeń)</h1>
      <ul class="list-unstyled">
        {% for entity in active_entities %}
        <li><a href="{{ entity.get_gigs_url }}">{{ entity }}</a> ({{ entity.event_count }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
