<li>
  <h2>Archiwum wydarzeń</h2>
  <p><b>2012</b></p>
  <ul>
    <li><a href="{% url events-monthly-archive "2012" "03" %}">Marzec</a></li>
    <li><a href="{% url events-monthly-archive "2012" "02" %}">Luty</a></li>
    <li><a href="{% url events-monthly-archive "2012" "01" %}">Styczeń</a></li>
  </ul>
  <p><b>2011</b></p>
  <ul>
    <li><a href="{% url events-monthly-archive "2011" "12" %}">Grudzień</a></li>
    <li><a href="{% url events-monthly-archive "2011" "11" %}">Listopad</a></li>
    <li><a href="{% url events-monthly-archive "2011" "10" %}">Październik</a></li>
    <li><a href="{% url events-monthly-archive "2011" "09" %}">Wrzesień</a></li>
  </ul>

</li>
