<div class="header hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Wydarzenia</h2>
        <p>Informacje o koncertach, przeglądach, festiwalach i konferencjach poświęconych piosence literackiej.</p>
      </div>
      <div class="col-md-6 lead-quote">
        <blockquote class="custom-blockquote">Każdy chce mieć i każdy tak czy owak ma<br /> 
          Tę krótką chwilę między wejściem swym i wyjściem<br />
          Każdy na jakimś instrumencie gra<br />
          Choć nie każdego oklaskuje się rzęsiście<br />
          <small>Jacek Kaczmarski - <a href="/spiewnik/jacek-kaczmarski/ze-sceny/">Ze sceny</a></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
