{% extends "base.html" %}

{% block title %}{{ venue }}{% endblock title %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell contentwell">
        <h1>{{venue.name}}</h1>

        <p><b>Adres:</b> {{venue.street}}, {{venue.town}}.</p>

        <p><b>Wydarzenia:</b></p>

        <ul>
          {% for event in venue.event_set.all %}
          <li><a href="{{event.get_absolute_url}}">{{event}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      {% include "base/wells/place.html" with place=venue mark=venue %}
      {% include "base/wells/like.html" with like_what="miejsce" %}
      {% include "base/wells/manage.html" with item=venue manage_what="miejsce" %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
