{% extends "base.html" %}

{% block title %}{{ venue }} - koncerty, wydarzenia{% endblock title %}

{% block content %}
{% include "events/top.html" %}

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <div class="customwell auxwell">
        <h1>Miejsce: {{venue.name}}</h1>

        <p><b>Adres:</b> {{venue.street}}, {{venue.town}}.</p>

        <p><b>Wydarzenia:</b></p>

        <ul class="list-unstyled">
          {% for event in venue.event_set.all %}
          <li>
          <span class="date">{{ event.datetime|date:"d.m.Y" }}</span>, 
          <a href="{{event.get_absolute_url}}">{{ event.name }}</a>
          {% include "components/content_status_span.html" with item=event %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      {% include "base/wells/place.html" with place=venue mark=venue %}
      {% include "base/wells/like.html" with like_what="miejsce" %}
    </div>
  </div>
  {% include "base/rows/disqus.html" %}
</div>
{% endblock content %}
